

[data-hover]{
	position:absolute;
	cursor:pointer;
}
[data-hover]>*{
	display:inline-block;
	font-size:30px;
	font-weight:bold;
	line-height:40px;
	text-align:center;
	border-radius:14px;
	background-color:rgba(255,255,255,0.8);
	padding:5px 20px;
	opacity:0;
}
[data-hover]:hover>*{
	opacity:1;
}

/**===============
 * 	link
 =================*/
[data-skill="link"]{
	position:relative;
	cursor:pointer;
}

/**===============
 * 	video motion
 =================*/
[data-skill="motion"]{
	position:relative;
	padding:0px; margin:0px;
}
	[data-skill="motion"] video{
		width:700px;
		border:2px solid #dfdfdf;
	}
	
	[data-skill="motion"][data-mode="v"] .motion-seek{
		position:absolute;
		right:-35px; top:0px;
		width:20px; height:300px;
	}
		[data-skill="motion"][data-mode="v"] .motion-seek:before{
			content:'';
			display:inline-block;
			width:100%; height:100%;
			background-color:#dfdfdf;
			border:2px solid #aaa;
			border-radius:100px;
		}
		[data-skill="motion"][data-mode="v"] .motion-seek .ball{
			border:2px solid #840;
			height:20%;
		}
/**===============
 * 	supplies
 =================*/
[data-skill="supplies"]{
	cursor:pointer;
	position:absolute;
	z-index:40;
	display:inline-block;
	width:173px; height:84px;
	background-image:url('./../../[res]/supplies/btn-prepare.png');
	background-size:200% 100%;
}
	[data-skill="supplies"]:hover{
		background-position-x:100%;
	}


.popup-supplies{
	width:100%; height:100%;
	position:absolute;
	z-index:100;
	left:0px; top:0px;
	background-color:rgba(0,0,0,0.5);
}
	.popup-supplies>div{
		width:1076px; height:725px;
		position:absolute;
		left:310px; top:85px;
		background-image:url('./../../[res]/supplies/bg-box.png');
	}
		.popup-supplies [data-btn="close"]{
			position:absolute;
			right:220px; top:166px;
			width:67px; height:68px;
			background-image:url('./../../[res]/supplies/btn-close.png');
		}
		.popup-supplies [data-icon]{
			position:absolute;
			left:108px; top:270px;
			width:268px; height:92px;
		}
			.popup-supplies [data-icon="activity-file-1"]{
				background-image:url('./../../[res]/icons/activity-file-1.png');
			}
			.popup-supplies [data-icon="activity-file-2"]{
				background-image:url('./../../[res]/icons/activity-file-2.png');
			}
			.popup-supplies [data-icon="activity-file-3"]{
				background-image:url('./../../[res]/icons/activity-file-3.png');
			}
			.popup-supplies [data-icon="activity-file-4"]{
				background-image:url('./../../[res]/icons/activity-file-4.png');
			}
			.popup-supplies [data-icon="activity-file-5"]{
				background-image:url('./../../[res]/icons/activity-file-5.png');
			}
			.popup-supplies [data-icon="activity-file-6"]{
				background-image:url('./../../[res]/icons/activity-file-6.png');
			}
			.popup-supplies [data-icon="activity-file-7"]{
				background-image:url('./../../[res]/icons/activity-file-7.png');
			}
			.popup-supplies [data-icon="activity-file-8"]{
				background-image:url('./../../[res]/icons/activity-file-8.png');
			}
			.popup-supplies [data-icon="activity-file-9"]{
				background-image:url('./../../[res]/icons/activity-file-9.png');
			}
			
		.popup-supplies .notes{
		    position: absolute;
		    left:108px;
		    top:375px;
		    width:858px;
		    height:270px;
		    
		    font-size:80px;
		    font-weight:900;
		    line-height:100px;
		    text-align:center;
		}
			.popup-supplies .notes>div{
				position:absolute;
				width:100%;
				left:0px;
			}
		.popup-supplies .notes.scroll{
			overflow-x:hidden;
			overflow-y:auto;
		}
			.popup-supplies .notes.scroll>div{
				position:static;
				width:100%;
				left:auto; top:auto;
			}
/**===============
 * 	switch
 =================*/
[data-skill="toggle"]{
	cursor:pointer;
	background-size:200% 100%;
}
	[data-skill="toggle"]:hover{
		background-position-x:100%;
	}
[data-skill="toggle"][data-style="hand"]{
	position:relative;
	width:55px; height:57px;
	background-image:url('./../../[res]/btns/thumb-btn-hand.png');
}
	[data-skill="toggle"][data-style="hand"].on{
		background-size:100% 100%;
		background-image:url('./../../[res]/btns/thumb-btn-select.png');
	}

[data-toggle][data-style="box-hit"]{
	border:8px dashed #a4ddf1;
	border-radius:30px;
	background-color:#fff;
	overflow:hidden;
}
	[data-toggle]>*{
		display:none;
	}
		[data-toggle].on>*{
			display:block;
		}

/**===============
 * 	mp3
 =================*/
[data-skill="mp3"]{
	background-color:#ebf5f8;
	border-radius:30px;
	padding:20px;
	text-align:center;
	width:100%; height:100%;
}
	[data-skill="mp3"] [data-mp3="scroll"]{
		width:100%; height:100%;
		overflow-x:hidden;
		overflow-y:auto;
		padding:0px 10px;
	}
	[data-skill="mp3"] [data-mp3="title"]{
		position:relative;
		
		font-size:75px;
		font-weight:900;
		line-height:110px;
	}
	[data-skill="mp3"] [data-mp3="write"]{
		position:relative;
	}
		[data-skill="mp3"] [data-mp3="write"]>p{
			text-align:right;
			font-size:40px;
			line-height:50px;
		}
	[data-skill="mp3"] [data-mp3="note"]{
		position:relative;
		font-size:70px;
		line-height:100px;
	}
	
	[data-skill="mp3"] [data-mp3="controls"]{
		position:relative;
		left:0px; bottom:-20px;
		margin:0px auto;
		display:table;
		font-size:0px;
		width:222px; height:68px;
		background-color:#ecdaff;
		border-radius:5px 5px 20px 20px;
	}
		[data-skill="mp3"] [data-mp3="controls"] [data-btn]{
			width:60px; height:60px; margin-top:4px;
		}
			[data-skill="mp3"] [data-mp3="controls"] [data-btn]+[data-btn]{
				margin-left:10px;
			}
			[data-skill="mp3"] [data-mp3="controls"] [data-btn="play"]{
				background-image:url('./../../[res]/mp3/btn-play.png');
			}
			[data-skill="mp3"] [data-mp3="controls"] [data-btn="pause"]{
				background-image:url('./../../[res]/mp3/btn-pause.png');
			}
			[data-skill="mp3"] [data-mp3="controls"] [data-btn="stop"]{
				background-image:url('./../../[res]/mp3/btn-stop.png');
			}
	
	[data-skill="mp3"] [data-lyrics] [data-start]{
		display:none;
	    position: relative;
	    background-color: #d2eff4;
	    border-radius: 30px;
	    padding: 10px 50px;
	    font-size: 50px;
	    line-height: 90px;
	    font-weight: 900;
	    letter-spacing: -1px;
	    text-align: center;
	}	
		[data-skill="mp3"] [data-lyrics] [data-start].on{
			display:block;
		}
		
/**================================*/
[data-skill="mp3"][data-type="player"]{
	background-color:transparent;
	border-radius:0;
	padding:0px;
	text-align:center;
	width:auto; height:auto;
	display:inline-block;
}
[data-skill="mp3"][data-type="player"] [data-mp3="controls"]{
	bottom:0;
}
/**===============
 * 	라디오
 =================*/
[data-skill="radio"]{
	text-align:left;
}

[data-skill="radio"] [data-radio]{
	cursor:pointer;
	position:relative;
	display:inline-block;
}
	[data-skill="radio"] [data-radio].on{
		color:#6d0000;
	}
	
/**=================*/
	
[data-skill="radio"] [data-radio="손가락"]{
	width:51px; height:55px;
	line-height:0px;
	font-size:0;
	background-size:200% 100%;
	background-image:url('./../../[res]/btns/손가락.png');
}
	[data-skill="radio"] [data-radio="손가락"]:hover{
		background-position-x:100%;
	}
	[data-skill="radio"] [data-radio="손가락"].on{
		background-image:url('./../../[res]/btns/손가락-s.png');
	}
	
/**=================*/
		
[data-skill="radio"] [data-radio="card"]{
	width:304px; height:130px;
	line-height:128px;
	font-size:45px;
	font-weight:bold;
	text-align:center;
	text-indent:15px;
	color:#fff;
	background-size:200% 100%;
	background-image:url('./../../[res]/btns/bg-btn-card.png');
}
	[data-skill="radio"] [data-radio="card"].on{
		cursor:default;
		color:#6d0000;
		font-weight:900;
		background-position-x:100%;
	}
	
[data-radio-target]>[data-radio]{
	display:none;
}
	[data-radio-target]>[data-radio].on{
		display:block;
	}
	
	[data-radio-target]>[data-radio]>[data-btn]{
		position:absolute;
		z-index:10;
		right:-30px; top:0px;
		width:57px; height:60px;
		background-image:url('./../../[res]/btns/popup-btn-close.png');
	}
/**===============
 * 	생각 그물
 =================*/

[data-mind-box]{
	position:relative;
	background-color:#fff5d7;
	border-radius:40px;
	padding:75px 50px 50px 50px;
	width:100%;
	text-align:justify;
}
[data-mind-box]>[data-skill="slide"]{
	width:calc(100% - 60px) !important;
}
	[data-mind-box]>[data-skill="slide"]>[data-btn]{
		width:45px; height:59px;
	}
		[data-mind-box]>[data-skill="slide"]>[data-btn="prev"]{
			left: -70px;
			background-image:url('./../../[res]/mind/btn-prev.png');
		}
		[data-mind-box]>[data-skill="slide"]>[data-btn="next"]{
			right: -70px;
			background-image:url('./../../[res]/mind/btn-next.png');
		}
		[data-mind-box]>[data-skill="slide"] .slide-index{
			display:none;
		}


[data-skill="mind"]{
	position:relative;
	display:table;
	margin-left:auto;
	margin-right:auto;
	
	width:1670px;
}
	[data-skill="mind"]>[data-mind-navi]{
		position:absolute;
		left:0px; top:140px;
		width:363px; height:415px;
		background-image:url('./../../[res]/mind/bg-mind-3.png');
	}
	[data-skill="mind"][data-max="2"]>[data-mind-navi]{background-image:url('./../../[res]/mind/bg-mind-2.png');}
	[data-skill="mind"][data-max="4"]>[data-mind-navi]{background-image:url('./../../[res]/mind/bg-mind-4.png');}
	
	[data-lesson="1"] [data-skill="mind"]>[data-mind-navi]{background-image:url('./../../[res]/mind/1_bg-mind-3.png');}
	[data-lesson="1"] [data-skill="mind"][data-max="2"]>[data-mind-navi]{background-image:url('./../../[res]/mind/1_bg-mind-2.png');}
	[data-lesson="1"] [data-skill="mind"][data-max="4"]>[data-mind-navi]{background-image:url('./../../[res]/mind/1_bg-mind-4.png');}
	
	[data-lesson="2"] [data-skill="mind"]>[data-mind-navi]{background-image:url('./../../[res]/mind/bg-mind-3.png');}
	[data-lesson="2"] [data-skill="mind"][data-max="2"]>[data-mind-navi]{background-image:url('./../../[res]/mind/bg-mind-2.png');}
	[data-lesson="3"] [data-skill="mind"][data-max="4"]>[data-mind-navi]{background-image:url('./../../[res]/mind/bg-mind-4.png');}
	
	[data-lesson="3"] [data-skill="mind"]>[data-mind-navi]{background-image:url('./../../[res]/mind/3_bg-mind-3.png');}
	[data-lesson="3"] [data-skill="mind"][data-max="2"]>[data-mind-navi]{background-image:url('./../../[res]/mind/3_bg-mind-2.png');}
	[data-lesson="3"] [data-skill="mind"][data-max="4"]>[data-mind-navi]{background-image:url('./../../[res]/mind/3_bg-mind-4.png');}
	
	
	[data-skill="mind"][data-max="2"]>[data-mind-navi]{background-image:url('./../../[res]/mind/bg-mind-2.png');}
	[data-skill="mind"][data-max="4"]>[data-mind-navi]{background-image:url('./../../[res]/mind/bg-mind-4.png');}
	
		[data-mind-navi="1"]:after{
			content:'';
			width:59px; height:84px;
			background-image:url('./../../[res]/mind/no-1.png');
			position:absolute;
			left:150px; top:25px;
		}
		[data-mind-navi="2"]:after{
			content:'';
			width:59px; height:84px;
			background-image:url('./../../[res]/mind/no-2.png');
			position:absolute;
			left:150px; top:25px;
		}
		[data-mind-navi="3"]:after{
			content:'';
			width:59px; height:84px;
			background-image:url('./../../[res]/mind/no-3.png');
			position:absolute;
			left:150px; top:25px;
		}
		[data-mind-navi]>p{
			position:relative;
			width:100%;
			font-size:45px;
			color:#fff;
			font-weight:900;
			line-height:70px;
			text-align:center;
			margin-top:140px;
			letter-spacing:-2px;
		}
		
[data-mind-body][data-skill="tab"]{
	position:absolute;
	right:0px; top:0px;
	width:1265px;
}
	[data-mind-body][data-skill="tab"]>.tab-head{
		display:inline-block;
		height:0px;
		top:532px;
		left:-392px; 
		right:auto; 
	}
		[data-mind-body][data-skill="tab"]>.tab-head>.tab-index{
			float:left;
		}
			[data-mind-body][data-skill="tab"]>.tab-head>.tab-index>[data-val]{
				width:95px; height:98px;
				background-image:url('./../../[res]/mind/btn-mind.png');
			}
	[data-skill="mind"][data-max="2"] [data-mind-body][data-skill="tab"]>.tab-head{
		left:-340px; 
	}
	[data-skill="mind"][data-max="4"] [data-mind-body][data-skill="tab"]>.tab-head{
		left:-520px; 
	}
	
	[data-mind-body][data-skill="tab"] [data-tab]>[data-skill="answerReset"],
	[data-mind-body][data-skill="tab"] [data-tab]>[data-skill="exReset"]{
		top:0px; right:0px;
	}	
	
	[data-mind-body][data-skill="tab"] [data-tab][data-style-box="blue"],
	[data-mind-body][data-skill="tab"] [data-tab]>[data-style-box="blue"]{
		display:block;
		width:100%; height:100%;
		
		font-size:80px;
		line-height:110px;
		text-align:center;
		
		letter-spacing:-2px;
	}
	

[data-tab]>[data-skill="slide"]{
	width:100%; height:690px;
}
	[data-tab]>[data-skill="slide"]>.slide-index{
		display:none;
	}
	
	[data-tab]>[data-skill="slide"]>[data-btn="prev"]{
		left:10px;
		width:67px; height:70px;
		background-image:url('./../../[res]/mind/btn-prev.png');
	}
		[data-tab]>[data-skill="slide"]>[data-btn="prev"].disabled{
			background-size: 100%;
			background-image:url('./../../[res]/mind/btn-prev-d.png');
		}
	[data-tab]>[data-skill="slide"]>[data-btn="next"]{
		right:10px;
		width:67px; height:70px;
		background-image:url('./../../[res]/mind/btn-next.png');
	}
		[data-tab]>[data-skill="slide"]>[data-btn="next"].disabled{
			background-size: 100%;
			background-image:url('./../../[res]/mind/btn-next-d.png');
		}
		
	[data-mind-body] [data-slide][data-style-box="blue"],	
	[data-mind-body] [data-slide]>[data-style-box="blue"]{
		display:block;
		width:100%; height:100%;
		
		font-size:80px;
		line-height:110px;
		text-align:center;
		
		letter-spacing:-2px;
	}
	
[data-mind-body] [data-slide] [data-title]{
	margin:0px 90px;
}
	[data-mind-body] [data-slide] .scroll [data-title]{
		margin-left:20px;
		margin-right:10px;
	}
	
[data-mind-body] [data-slide] [data-skill="answerReset"]{
	top:-85px; right:0px;
}

[data-mind-body] [data-style="word"]{
	border-color:#a4dcf0;
}


/**===============
 * 	스스로 확인하기
 =================*/
[data-skill="self"]{
	position:relative;
	display:inline-block;
	width:100%;
	text-align:center;
}
	[data-skill="self"] [data-self]{
		cursor:pointer;
		display:inline-block;
		background-size:200% 100%;
	}
	[data-skill="self"] [data-self].on{
		background-position-x:100%;
	}
	
/**===============
 * 	포토 뷰어
 =================*/
[data-skill="photo"]{
	position:relative;
	display:table;
	margin-left:auto;
	margin-right:auto;
	width:1704px; height:720px;
}
	[data-skill="photo"]>.photo-navi{
		position:absolute;
		left:0px; top:0px;
		width:544px; height:100%;
		overflow-x:hidden;
		overflow-y:auto;
	}
		[data-skill="photo"]>.photo-navi>.photo-list{
			width:100%;
			display:table;
			clear:both;
		}
		[data-skill="photo"]>.photo-navi [data-photo]{
			width:48%;
			float:left;
			display:inline-block;
			margin-top:15px;
			border:6px solid #f4f0d6;
			border-radius:15px;
			overflow:hidden;
			cursor:pointer;
			position:relative;
		}
			[data-skill="photo"]>.photo-navi [data-photo]:after{
				content:'';
				position:absolute;
				right:10px; bottom:10px;
				display:inline-block;
				width:43px; height:45px;
				
				background-image:url('./../../[res]/btns/thumb-btn-hand.png');
				background-size:200% 100%;
			}
				[data-skill="photo"]>.photo-navi [data-photo]:hover:after{
					background-position-x:100%;
				}
			[data-skill="photo"]>.photo-navi [data-photo].on{
				cursor:default;
			}
				[data-skill="photo"]>.photo-navi [data-photo].on:after{
					background-image:url('./../../[res]/btns/thumb-btn-select.png');
					background-size:100% 100%;
				}
				
			[data-skill="photo"]>.photo-navi [data-photo]:nth-child(1),
			[data-skill="photo"]>.photo-navi [data-photo]:nth-child(2){
				margin-top:0px;
			}
			[data-skill="photo"]>.photo-navi [data-photo]:nth-child(2n-1){
				margin-right:2%;	
			}
			[data-skill="photo"]>.photo-navi [data-photo]>img{
				width:100%;
			}
	[data-skill="photo"]>.photo-body{
		position:absolute;
		right:0px; top:0px;
		background-color:#f4f0d6;
		padding:10px;
		width:1150px; 
		border-radius:20px;
	}
		[data-skill="photo"]>.photo-body>.photo-view{
			width:100%; height:560px;
			background-color:#e6dab9;
			border-radius:15px;
			overflow:hidden;
		}
			[data-skill="photo"]>.photo-body>.photo-view>img{
				height:100%; 
				display:table;
				margin-left:auto;
				margin-right:auto;
			}
		[data-skill="photo"]>.photo-body>.photo-note{
			width:100%; min-height:65px;
			font-size:60px; line-height:65px;
			font-weight:bold;
			color:#000;
			padding:0px 20px;
			margin-top:10px;
			text-align:justify;
			letter-spacing:-1px;
		}
/**===============
 * 	팝업  뷰어
 =================*/
[data-popup]{
	display:none;
	position:absolute;
	left:0px; top:0px;
	width:100%; height:100%;
	z-index:200;
}
[data-popup] [data-btn="popup-close"]{
	position:absolute;
	width:60px; height:60px;
	right:15px; top:15px;
	background-image:url('./../../[res]/btns/popup-btn-close.png');
}

[data-popup][data-style="view"]{
	background-color:#fff;
}

/**================================*/
	
[data-popup][data-style="moment"]{
	background-color:rgba(0,0,0,0.5);
}
	[data-popup][data-style="moment"]>.popup-body{
		position:relative;
		display:table;
		width:933px; height:685px;
		margin-left:auto;
		margin-right:auto;
		margin-top:130px;
		background-image:url('./../../[res]/bgs/잠깐.png');
	}
		[data-popup][data-style="moment"] [data-btn="popup-close"]{
			width:55px; height:53px;
			background-image:url('./../../[res]/btns/잠깐-close.png');
			right:35px;
    		top:102px;
		}
		[data-popup][data-style="moment"]>.popup-body>.popup-list{
			position: absolute;
		    left: 64px;
		    top: 280px;
		    width: 810px;
		    height: 400px;
		    padding-right: 5px;
		    overflow-x: hidden;
		    overflow-y: auto;
		    font-size:70px;
		    font-weight:900;
		    line-height: 100px;
		    text-align: center;
		    letter-spacing: -1px;
		}
		
/**===============
 * 	팝업 버튼
 =================*/
[data-skill="popup"]{
	position:relative;
}
/*잠깐 버튼 뷰 확대*/
[data-skill="popup"][data-mode="view"]{
	cursor:pointer;
	position:absolute;
	right:20px; top:20px;
	width:70px; height:70px;
	background-size:200% 100%;
	background-image:url('./../../[res]/btns/popup-btn-zoom.png');
}
	[data-skill="popup"][data-mode="view"]:hover{
		background-position-x:100%;
	}
/**================================*/
/*잠깐 버튼 뷰 확대*/
[data-skill="popup"][data-style="moment"]{
	cursor:pointer;
	position:absolute;
	display:inline-block;
	width:158px; height:105px;
	font-size:0px;
	background-image:url('./../../[res]/btns/잠깐.png');
	background-size:200% 100%;
}
	[data-skill="popup"][data-style="moment"]:hover{
		background-position-x:100%;
	}
/**================================*/
/*확대 아이콘으로 확대할 때*/
[data-skill="popup"][data-mode="zoom"]{
	cursor:pointer;
	position:absolute;
	right:20px; top:20px;
	width:63px; height:67px;
	background-size:200% 100%;
	background-image:url('./../../[res]/btns/popup-btn-zoom.png');
}
	[data-skill="popup"][data-mode="zoom"]:hover{
		background-position-x:100%;
	}

/*이미지 자체에 확대 기능 넣을 때*/
[data-skill="popup"][data-mode="image"]{
	border-radius:15px;
	overflow:hidden;
}
	[data-skill="popup"][data-mode="image"]>img{
		width:100%;
	}
	[data-skill="popup"][data-mode="image"]>.icon-zoom{
		cursor:pointer;
		display:inline-block;
		width:70px; height:70px;
		position:absolute;
		right:20px; top:20px;
		background-size:200% 100%;
		background-image:url('./../../[res]/btns/popup-btn-zoom.png');
	}
		[data-skill="popup"][data-mode="image"]>.icon-zoom:hover{
			background-position-x:100%;
		}

[data-skill="popup"][data-mode="image"][data-style="box-hit"]{
	border:8px dashed #a4ddf1;
	border-radius:30px;
	background-color:#fff;
}


[data-skill="popup"][data-mode="video"]{
	cursor:pointer;
	position:absolute;
	right:20px; top:20px;
	width:67px; height:70px;
	background-size:200% 100%;
	background-image:url('./../../[res]/btns/popup-btn-zoom.png');
}
	[data-skill="popup"][data-mode="video"]:hover{
		background-position-x:100%;
	}
[data-skill="popup"][data-mode="video"][data-style="hand"]{
	background-image:url('./../../[res]/btns/thumb-btn-hand.png');
}
/**===============
 * 	텝 기능
 =================*/
#content>[data-skill="tab"]{
	position:relative;
	width:100%; height:100%;
}
[data-skill="tab"]>.tab-head{
	z-index:1;
	position:absolute; 
	top:0px; left:0px;
	width:100%;
	clear:both;
	display:table;
}
[data-skill="tab"]>.tab-head>.tab-index{
	float:right;
	display:inline-block;
	margin-top:10px;
	margin-right:20px;
}
	[data-skill="tab"]>.tab-head>.tab-index>[data-val]{
		cursor:pointer;
		position:relative;
		float:left;
		background-size:200% 100%;
		margin-left:10px;
		width:91px; height:95px;
	}
	[data-skill="tab"]>.tab-head>.tab-index>[data-val]>*{
		display:none;
	}
		[data-skill="tab"]>.tab-head>.tab-index>[data-val]:hover{
			background-position-x:100%;
		}
		[data-skill="tab"]>.tab-head>.tab-index>[data-val].on{
			background-position-x:100%;
		}
		/*
		[data-skill="tab"]>.tab-head>.tab-index>[data-val="file"]{
			background-image:url('./../../[res]/btns/tab-btn-file.png');
		}
		[data-skill="tab"]>.tab-head>.tab-index>[data-val="activity"]{
			background-image:url('./../../[res]/btns/tab-btn-activity.png');
		}
		
		[data-skill="tab"]>.tab-head>.tab-index>[data-val="1"]{
			background-image:url('./../../[res]/btns/tab-btn-1.png');
		}
		[data-skill="tab"]>.tab-head>.tab-index>[data-val="2"]{
			background-image:url('./../../[res]/btns/tab-btn-2.png');
		}
		[data-skill="tab"]>.tab-head>.tab-index>[data-val="3"]{
			background-image:url('./../../[res]/btns/tab-btn-3.png');
		}
		[data-skill="tab"]>.tab-head>.tab-index>[data-val="4"]{
			background-image:url('./../../[res]/btns/tab-btn-4.png');
		}
		[data-skill="tab"]>.tab-head>.tab-index>[data-val="5"]{
			background-image:url('./../../[res]/btns/tab-btn-5.png');
		}
		[data-skill="tab"]>.tab-head>.tab-index>[data-val="6"]{
			background-image:url('./../../[res]/btns/tab-btn-6.png');
		}
		[data-skill="tab"]>.tab-head>.tab-index>[data-val="7"]{
			background-image:url('./../../[res]/btns/tab-btn-7.png');
		}
		[data-skill="tab"]>.tab-head>.tab-index>[data-val="8"]{
			background-image:url('./../../[res]/btns/tab-btn-8.png');
		}*/
[data-skill="tab"]>.tab-body{
	width:100%;
}
	[data-skill="tab"] [data-tab]{
		display:none;
	}
	
/**===============
 * 	슬라이드 기능
 =================*/
#popup-view [data-skill="slide"]{
	width:1550px; height:780px;
}

[data-slide] img{
	height:100%;
}
[data-skill="slide"][data-type="simple"] .slide-index{
	display:none;
}
[data-skill="slide"]{
	opacity:0;
	position:relative;
	display:table;
    margin-left:auto;
    margin-right:auto;
	width:100%; height:100%;
}
[data-skill="slide"]>.slide-body{
	position:relative;
	z-index:1;
	width:100%; height:100%;
}
	[data-skill="slide"] .slide-list{}
	[data-skill="slide"][data-style="border"]{
		border:10px solid #f4f0d5;
		border-radius:25px;
	}
	[data-skill="slide"][data-style="border"]>.slide-body{
		border-radius:15px;
	}
	
	[data-skill="slide"] [data-slide]{}
	
	[data-skill="slide"]>[data-btn]{
		position:absolute;
		z-index:2;
		width:64px; height:67px;
		top:0px;
	}	
		[data-skill="slide"]>[data-btn="prev"]{
			left:-84px;
			background-image:url('./../../[res]/btns/slide-btn-prev.png');
		}
		[data-skill="slide"]>[data-btn="next"]{
			right:-84px;
			background-image:url('./../../[res]/btns/slide-btn-next.png');
		}
		
		[data-skill="slide"]>[data-btn].disabled{
			opacity:0.5 !important;
			background-position-x:0 !important;
		}

[data-skill="slide"]>.slide-index{
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	
	width:100%;
	text-align:center;
}
[data-skill="slide"][data-style="border"]>.slide-index{
	margin-top:25px;
}
	[data-skill="slide"]>.slide-index>[data-idx]{
		cursor:pointer;
		display:inline-block;
		width:22px; height:22px;
		background-color:#b8b8b8;
		border-radius:25px;
		font-size:0px;
		margin:0px 7px;
		box-shadow:2px 2px 1px #444;
	}
	[data-skill="slide"]>.slide-index>[data-idx].on{
		cursor:default;
		width:40px;
		background-color:#fec321;
		box-shadow:2px 2px 1px #946603;
	}
	
	[data-popup] [data-skill="slide"][data-mode="navi"]{
		z-index:0;
		height:884px;
	}
	[data-skill="slide"][data-mode="navi"]>.slide-index{
		height: 80px;
    	background-color: #444;
	}
	[data-skill="slide"][data-mode="navi"]>.slide-index>[data-btn]{
		cursor:pointer;
		display:inline-block;
		width:60px; height:62px;
		margin-top:9px;
	}
	[data-skill="slide"][data-mode="navi"]>.slide-index>[data-idx]{
		margin-top:28px;
	}
				
		[data-skill="slide"][data-mode="navi"]>.slide-index>[data-btn="prev"]{
			background-image:url('./../../[res]/btns/slide-btn-idx-prev.png');
			margin-right:20px;
		}
		[data-skill="slide"][data-mode="navi"]>.slide-index>[data-btn="next"]{
			background-image:url('./../../[res]/btns/slide-btn-idx-next.png');
			margin-left:20px;
		}
		[data-skill="slide"][data-mode="navi"]>.slide-index>[data-btn].disabled{
			cursor:default;
			background-size:100% 100%;
		}
			[data-skill="slide"][data-mode="navi"]>.slide-index>[data-btn="prev"].disabled{
				background-image:url('./../../[res]/btns/slide-btn-idx-prev-d.png');
			}
			[data-skill="slide"][data-mode="navi"]>.slide-index>[data-btn="next"].disabled{
				background-image:url('./../../[res]/btns/slide-btn-idx-next-d.png');
			}
		/**
		 * 	하단 네비 만들기
		 */
		#popup-view .popupImage>.slideImage>.slide-index[data-style="navi"]{
			height:80px;
			background-color:#444;
		}
			#popup-view .popupImage>.slideImage>.slide-index[data-style="navi"]>[data-idx]{
				margin-top:28px;
			}
			#popup-view .popupImage>.slideImage>.slide-index[data-style="navi"]>[data-btn]{
				cursor:pointer;
				display:inline-block;
				width:60px; height:62px;
				margin-top:9px;
			}
	
				
#popup-view>[data-skill="slide"][data-style="box-yellow"]{
	margin-left:20px; margin-top:20px;
	width:1836px; height:795px;
}
#popup-view>[data-skill="slide"][data-style="box-yellow"]:nth-child(2){
	margin-left:20px;
	width:1836px; height:685px;
}


/**===============
 * 	팝업 슬라이드
 =================*/
#popup-view [data-popup] [data-skill="slide"][data-mode="navi"]{
	width:100%; height:890px;
}
#popup-view [data-popup] [data-skill="slide"][data-mode="navi"] [data-slide]{
	overflow-x:hidden; overflow-y:auto;
	padding:0px 50px;
}
#popup-view [data-popup] [data-skill="slide"][data-mode="navi"]>.slide-index{
	position:relative;
	z-index:100;
	margin-top:10px;
}

/**===============
 * 	비디오 보기
 =================*/
[data-skill="video"]{
	position:relative;
	width:1280px; height:720px;
	margin:0px auto;
}
[data-skill="video"].full{
	width:1920px; height:932px;
}
	
	[data-skill="video"] img{
		position:absolute;
		left:0px;
	    top:0px;
	    width:100%; height:100%;
	    border-radius:40px;
	    border:15px solid #e1e4f4;
	    background-color:#dde7fa;
	}
		[data-skill="video"].full img{
			border-radius:50px;
		}
	[data-skill="video"] [data-btn="play"]{
		z-index:10;
		position:absolute;
	    width:133px;
	    height:138px;
		background-image:url('./../../[res]/btns/btn-play.png');
	}


[data-skill="ani"] [data-ani="controls"]{
	position:relative;
	margin:0px auto;
	display:table;
	font-size:0px;
	width:348px; height:84px;
	background-color:#91e3f2;
	box-shadow:0px 6px 1px 1px #51bcd0;
	border-radius:0px 0px 40px 40px;
}
	[data-skill="ani"] [data-ani="controls"] [data-btn]{
		width:58px; height:60px; margin-top:10px;
		margin-left:8px; margin-right:8px;
	}
		[data-skill="ani"] [data-ani="controls"] [data-btn="play"]{
			background-image:url('./../../[res]/mp3/btn-play.png');
		}
		[data-skill="ani"] [data-ani="controls"] [data-btn="pause"]{
			background-image:url('./../../[res]/mp3/btn-pause.png');
		}
		[data-skill="ani"] [data-ani="controls"] [data-btn="stop"]{
			background-image:url('./../../[res]/mp3/btn-stop.png');
		}

/**===============
 * 	퀴즈
 =================*/

[data-title] [data-skill="answerReset"],
[data-title] [data-skill="exReset"],
[data-title] [data-skill="answer"],
[data-title] [data-skill="ex"],
[data-title] [data-skill="reset"]{
	margin-left:15px; margin-top:6px;
}

[data-skill="answerReset"]{
	z-index:10;
	cursor:pointer;
	position:absolute;
	z-index:100;
	display:inline-block;
	width:199px; height:64px;
	background-image:url('./../../[res]/btns/quiz-btn-answer.png');
	background-size:200% 100%;
}
	[data-skill="answerReset"].on{
		background-image:url('./../../[res]/btns/quiz-btn-answer-hide.png');
	}
	[data-skill="answerReset"]:hover{
		background-position-x:100%;
	}

[data-skill="exReset"]{
	z-index:10;
	cursor:pointer;
	position:absolute;
	z-index:100;
	display:inline-block;
	width:199px; height:64px;
	background-image:url('./../../[res]/btns/quiz-btn-ex.png');
	background-size:200% 100%;
}
	[data-skill="exReset"].on{
		background-image:url('./../../[res]/btns/quiz-btn-ex-hide.png');
	}
	[data-skill="exReset"]:hover{
		background-position-x:100%;
	}

[data-skill="answer"]{
	z-index:10;
	cursor:pointer;
	position:absolute;
	z-index:100;
	display:inline-block;
	width:199px; height:64px;
	background-image:url('./../../[res]/btns/quiz-btn-answer.png');
	background-size:200% 100%;
}
	[data-skill="answer"]:hover{
		background-position-x:100%;
	}

[data-skill="ex"]{
	z-index:10;
	cursor:pointer;
	position:absolute;
	z-index:100;
	display:inline-block;
	width:199px; height:64px;
	background-image:url('./../../[res]/btns/quiz-btn-ex.png');
	background-size:200% 100%;
}
	[data-skill="ex"]:hover{
		background-position-x:100%;
	}
	
[data-skill="reset"]{
	z-index:10;
	cursor:pointer;
	position:absolute;
	z-index:100;
	display:inline-block;
	width:199px; height:64px;
	background-image:url('./../../[res]/btns/quiz-btn-reset.png');
	background-size:200% 100%;
}
	[data-skill="reset"]:hover{
		background-position-x:100%;
	}


/**===============
 * 	공통
 =================*/
/*피드백*/
#popup-view>[data-feedback]{
	position:absolute;
	left:0px; top:0px;
	width:100%; height:100%;
	z-index:100;
	background-color:rgba(0,0,0,0.5);
}
	#popup-view>[data-feedback="result"]>.feedback{
		position:absolute;
		left:540px; top:20px;
		width:800px; height:800px;
	}
		#popup-view>[data-feedback="result"]>.feedback[data-state="true"]{
			background-image:url('./../../[res]/feedback/result-correct.png');
		}
		#popup-view>[data-feedback="result"]>.feedback[data-state="false"]{
			background-image:url('./../../[res]/feedback/result-fail.png');
		}

/*비디오*/
#popup-view .popupVideo{
	position:absolute;
	left:0px; top:0px;
	width:100%; height:100%;
	z-index:100;
}
	#popup-view .popupVideo>.VIDEO{
		width:100%; height:100%;
	}
	
/*이미지*/
#popup-view .popupImage{
	position:absolute;
	left:0px; top:0px;
	width:100%; height:100%;
	z-index:100;
	background-color:#fff;
}
	#popup-view .popupImage [data-btn="close"]{
		width:63px; height:67px;
		position:absolute;
		right:15px; top:15px;
		background-image:url('./../../[res]/btns/popup-btn-close.png');
	}
	#popup-view .popupImage>.slideImage{
		width:100%; height:905px;
		position:absolute;
		left:0px; top:0px;
	}
	#popup-view .popupImage>.slideImage.single{
		height:100%;
	}
		#popup-view .popupImage>.slideImage .slide-body{
			height:100%;
		}
		#popup-view .popupImage>.slideImage img{
			display:table;
			margin-left:auto;
			margin-right:auto;
			height:100%;
			overflow:hidden;
		}
		#popup-view .popupImage>.slideImage [data-slide]>.note{
			position:absolute;
			left:0px; bottom:0px;
			width:100%;
			text-align:center;
		}
			#popup-view .popupImage>.slideImage [data-slide]>.note>p{
				display:inline-block;
				font-size:60px;
				line-height:80px;
				color:#fff;
				padding:0px 20px;
				border-radius:20px;
				background-color:rgba(0,0,0,0.5);
				margin:20px auto;
			}
	#popup-view .popupImage>.slideImage>[data-btn]{
		position:absolute;
		z-index:2;
		width:52px; height:111px;
		top:0px;
	}	
		#popup-view .popupImage>.slideImage>[data-btn].disabled{
			opacity:0.5;
			cursor:default;
		}
		#popup-view .popupImage>.slideImage>[data-btn="prev"]{
			left:-95px;
			background-image:url('./../../[res]/btns/popup-slide-prev.png');
		}
		#popup-view .popupImage>.slideImage>[data-btn="next"]{
			right:-95px;
			background-image:url('./../../[res]/btns/popup-slide-next.png');
		}
		
	#popup-view .popupImage>.slideImage>.slide-index{
		display:inline-block;
		margin-left:auto;
		margin-right:auto;
		width:100%;
		text-align:center;
	}
		#popup-view .popupImage>.slideImage>.slide-index>[data-idx]{
			cursor:pointer;
			display:inline-block;
			width:22px; height:22px;
			background-color:#aa9d94;
			border-radius:25px;
			margin:0px 7px;
			font-size:0px;
			box-shadow:2px 2px 1px #444;
		}
		#popup-view .popupImage>.slideImage>.slide-index>[data-idx].on{
			cursor:default;
			width:40px;
			background-color:#feb721;
			box-shadow:2px 2px 1px #946603;
		}
		/*===============*/
		#popup-view .popupImage>.slideImage>.slide-index>[data-btn="prev"]{
			background-image:url('./../../[res]/btns/slide-btn-idx-prev.png');
			margin-right:20px;
		}
		#popup-view .popupImage>.slideImage>.slide-index>[data-btn="next"]{
			background-image:url('./../../[res]/btns/slide-btn-idx-next.png');
			margin-left:20px;
		}
		#popup-view .popupImage>.slideImage>.slide-index>[data-btn].disabled{
			cursor:default;
			background-size:100% 100%;
		}
			#popup-view .popupImage>.slideImage>.slide-index>[data-btn="prev"].disabled{
				background-image:url('./../../[res]/btns/slide-btn-idx-prev-d.png');
			}
			#popup-view .popupImage>.slideImage>.slide-index>[data-btn="next"].disabled{
				background-image:url('./../../[res]/btns/slide-btn-idx-next-d.png');
			}
		/**
		 * 	하단 네비 만들기
		 */
		#popup-view .popupImage>.slideImage>.slide-index[data-style="navi"]{
			height:80px;
			background-color:#444;
		}
			#popup-view .popupImage>.slideImage>.slide-index[data-style="navi"]>[data-idx]{
				margin-top:28px;
			}
			#popup-view .popupImage>.slideImage>.slide-index[data-style="navi"]>[data-btn]{
				cursor:pointer;
				display:inline-block;
				width:60px; height:62px;
				margin-top:9px;
			}	

