/*================================================
 * 배경 설정
 ================================================*/

#plugins{
	z-index:200;
}


#screen{
	background-image:url("./../ui/bg.png");
}

body.pointer *{
	cursor:none !important;
}
.mouse-cursor{
	cursor:none !important;
	pointer-events: none;
	background-image:url("./../ui/cusor.svg");
	width:30px; height:30px;
	background-size:100% 100%;
	position:absolute;
	margin-left:-15px;
	margin-top:-15px;
	z-index:999;
}


/*============
 * main 설정
 =============*/	
#ebook-body{
	position:absolute; left:calc(50% + 1px); top:120px;
	transform:translateX(-50%);
	width:1474px; height:960px;
}
	#ebook-body>.ebook-container{
		z-index:1;
		position:absolute;
		left:0px; top:0px;
		width:1474px; height:960px;
		overflow:hidden;
	}
		#ebook{
			position:absolute;
			left:0px; top:0px;
			/*북 한 페이지562*720*/
			width:1474px; height:960px;
		}
		
	#ebook-body>[data-btn]{
		position:absolute; top:50%;
		transform:translateY(-50%);
		width:56px; height:56px;
	}
		#ebook-body>[data-btn="prev"]{
			left:-55px;
			background-image: url('./../ui/btns/book-prev.png');
		}
		#ebook-body>[data-btn="next"]{
			right:-55px;
			background-image: url('./../ui/btns/book-next.png');
		}


/*============
 * main 설정
 =============*/
#navi{
	z-index:100;
	position:absolute;left:50%; top:20px;
	transform:translateX(-50%);
	width:1502px; height:80px;
	
	background-image: url('./../ui/header/toolbox.png');
}
	#navi.on{bottom:0px;}
	
	#navi>[data-btn="openNavi"]{
		position:relative;
		display:table;
		top:-29px;
		width:66px; height:40px;
		margin:0px auto;
		background-image: url('./../ui/header/btn-open.png');
	}
		#navi>[data-btn="openNavi"]{background-position-x:0%;}
		#navi.on>[data-btn="openNavi"]{background-position-x:100%;}
	
	
	/*============
	 * main 설정
	 =============*/
	#bookTools{
		width:100%;
	}
	#bookTools>ul{
		position:absolute;left:40px; top:50%;
		transform:translateY(-50%);
	}
	#bookTools>ul>li{
		display:inline-block;
	}
	#bookTools>ul>li+li{
		margin-left:20px;
	}
	#bookTools [data-btn],
	#bookTools [data-btn-plugin]{
		position:relative;
	}
		[data-btn="home"]{
			width:40px;height:36px;
			background-image: url('./../ui/header/tool-home.png');
		}
		[data-btn="fileroom"]{margin-top:3px;
			width:36px;height:36px;
			background-image: url('./../ui/header/tool-fileroom.png');
		}
		[data-btn-plugin="index"]{
			width:30px;height:36px;
			background-image: url('./../ui/header/tool-index.png');
		}
		[data-btn-plugin="memo"]{margin-top:-2px;
			width:38px;height:38px;
			background-image: url('./../ui/header/tool-memo.png');}
		[data-btn-plugin="drawing"]{margin-top:1px;
			width:36px;height:34px;
			background-image: url('./../ui/header/tool-drawing.png');
		}
		[data-btn-plugin="bookmark"]{
			width:36px;height:36px;
			background-image: url('./../ui/header/tool-bookmark.png');
		}
		[data-btn-plugin="zoom"]{
			width:36px;height:36px;
			background-image: url('./../ui/header/tool-zoom.png');
		}
		[data-btn-plugin="timer"]{
			width:24px;height:37px;
			background-image: url('./../ui/header/tool-timer.png');
		}
		[data-btn-plugin="print"]{margin-top:1px;
			width:36px;height:34px;
			background-image: url('./../ui/header/tool-print.png');
		}
		[data-btn-plugin="help"]{margin-top:1px;
			width:34px;height:34px;
			background-image: url('./../ui/header/tool-help.png');
		}
			
	#bookTools>ul [data-btn]>p,
	#bookTools>ul [data-btn-plugin]>p{
		display:none;
		position:absolute;
		width:60px; line-height:30px;
		
		left:50%; transform:translateX(-50%);
		top:calc(100% + 20px);
		
		padding:2px 5px;
		letter-spacing:1px;
		
		border-radius:50px;
		background-color:#000;
		text-align:center;
		
		font-size:15px;
		font-weight:900;
		color:#fff;
	}	
		#bookTools>ul [data-btn]:hover>p,
		#bookTools>ul [data-btn-plugin]:hover>p{
			display:inline-block;
		}
		
		#bookTools>ul [data-btn]>p:after,
		#bookTools>ul [data-btn-plugin]>p:after{
			content:'';
			display:inline-block;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-bottom: 10px solid #000;
			border-top: 0px solid transparent;
			position:absolute; top:-9px;
			left:50%; transform:translateX(-50%);
		}
	
	#search{
		position:absolute;
		right:340px; top:18px;
		
		border:1px solid #3C0058;
		background-color:#fff;
		
		width:326px;
		height:44px; 
		border-radius:44px;
		overflow:hidden;
	}
		#search input{
			width: 240px;
		    height: 34px;
		    position: absolute;
		    left: 60px;
		    top: 5px;
		    font-size:24px;
		    line-height: 34px;
		}
		#search [data-btn-plugin="search"]{
			width:44px;height:44px;
			position:absolute;left:0px;top:0px;
			background-color:#3C0058;
		}
		#search [data-btn-plugin="search"]:before{
			display:none;
		}
		#search [data-btn-plugin="search"]>p{
			display:inline-block;
			position:absolute; left:12px; top:11px;
			width:20px; height:22px; 
			font-size:0;
			background-image: url('./../ui/header/search.png');
		}
	
		
	#bookNav{
		position:absolute;
		right:40px; top:23px;
		background-color: #fff;
		width:200px;
		height:34px;
		border-radius:20px;
		font-weight:bold;
		font-size:20px;
		letter-spacing:-1px;
		text-align:center;
	}
		#bookNav input{
			text-align:center;
			width:130px;
			line-height:34px;
			color:#000;
		}
		#bookNav [data-btn]{
			position:absolute; top:2px;
			width:30px;height:30px;
			font-size:0; 
		}
		#bookNav [data-btn="prev"]{
			left:3px;
			background-image: url('./../ui/header/btn-prev.png');
		}
		#bookNav [data-btn="next"]{
			right:3px;
			background-image: url('./../ui/header/btn-next.png');
		}
		
