
/**=============
 * 	공통 화면
 =============*/
#popup-view{
	position:absolute;
	left:0px; top:0px;
	width:1920px; height:932px;
	text-align:justify;
	padding:60px 80px 0px 80px;
}
.scroll{position:relative;overflow-x:hidden;overflow-y:auto;padding-right:20px;}
small{font-size:0.8em;}
p>b{font-size:58px;font-weight:normal;text-indent:0;color:#4764af;}
h1 b{color:#fff579;}
.center{
	position:absolute !important; left:50% !important;top:50% !important;
	transform:translate(-50%,-50%) !important;
}
.center-x{
	position:relative !important;left:50% !important;
	transform:translateX(-50%) !important;
}
.center-y{
	position:relative !important;top:50% !important;
	transform:translateY(-50%) !important;
}
img.blank{
	pointer-events:none;
}
em{
	list-style:none;
	text-decoration:none;
	font-style:normal;
}


/**=============
 * 	subject
 =============*/
header,section{position:relative;}
header{margin-bottom:40px;}


/**=============
 * 	popupVideo
 =============*/
#popup-view .popupVideo{
	background-color:#fff;
}
#popup-view .popupVideo>.VIDEO {
	left:50%; transform:translateX(-50%);
    width:1657px;
    height:932px;
}


/**=============
 * 	디자인 폼
 =============*/
main[data-design="동기 유발"]{
	background-image:url('../../[res]/bgs/운동장.jpg');
}

/**=============
 * 	디자인 폼
 =============*/
main[data-design="학습 목표"]>section{
	position:relative;
	width:1607px;height:823px;
	position:absolute; left:50%; top:50%;
	transform:translate(-50%,-50%);
	background-image:url('../../[res]/bgs/칠판.png');
	padding:120px 100px 120px 200px;
}
	main[data-design="학습 목표"] [data-note]{
		font-size:58px;
		line-height:82px;
		font-weight:bold;
		color:#fff;
	}
	main[data-design="학습 목표"] [data-note="중점"]>*:nth-child(1){
		top:25px;
	}
	
/**=============
 * 	디자인 폼
 =============*/
main[data-design="단원 들어가기"]>section{
	position:relative;
	width:1760px;height:622px;
	position:absolute; left:50%;
	transform:translateX(-50%);
	background-image:url('../../[res]/bgs/메모.png');
	padding:132px 80px 80px 80px;
}
	main[data-design="단원 들어가기"] [data-note="no"]{
		padding-left:78px;
		font-size:62px;
		font-weight:900;
		line-height:72px;
	}
	main[data-design="단원 들어가기"] [data-note="no"]>*:nth-child(1){
		display:inline-block;
		font-family:'Cafe';
		font-size:46px;
		text-align:center;
		line-height:62px;
		font-weight:bold;
		color:#fff;
		width:58px; height:58px;
		position:absolute; left:0px; top:8px;
		background-color:#22A7D6;
		border-radius:100px;
	}
	main[data-design="단원 들어가기"] [data-note]+[data-note]{
		margin-top:30px;
	}
	
/**=============
 * 	제목
 =============*/
[data-subject]{
	position:relative;
	font-family:'One';
	font-size:60px;
	font-weight:normal;
	line-height:80px;
}

	[data-subject="동기 유발"]{
		padding-left:100px;
	}
		[data-subject="동기 유발"]>*:nth-child(1){
			font-size:0;
			display:inline-block;
			position:absolute;left:0;top:-8px;
			width:80px; height:86px;
			background-image:url('../../[res]/icons/동기 유발.png');
		}
	
	[data-subject="학습 목표"]{
		padding-left:100px;
		color:#ffc13c;
	}
		[data-subject="학습 목표"]:before{
			content:'';
			display:inline-block;
			font-size:0;
			position:absolute;left:0;top:7px;
			width:80px; height:66px;
			background-image:url('../../[res]/icons/학습 목표.png');
		}

	[data-subject="단원 들어가기"],
	[data-subject="책"]{
		padding-left:100px;
	}
		[data-subject="단원 들어가기"]>*:nth-child(1),
		[data-subject="책"]>*:nth-child(1){
			font-size:0;
			display:inline-block;
			position:absolute;left:0;top:4px;
			width:80px; height:72px;
			background-image:url('../../[res]/icons/단원 들어가기.png');
		}
	
	[data-subject="동영상"]{
		padding-left:100px;
	}
		[data-subject="동영상"]>*:nth-child(1){
			font-size:0;
			display:inline-block;
			position:absolute;left:0;top:2px;
			width:80px; height:76px;
			background-image:url('../../[res]/icons/동영상.png');
		}

	[data-subject="정리"]{
		padding-left:88px;
	}
		[data-subject="정리"]>*:nth-child(1){
			font-size:0;
			display:inline-block;
			position:absolute;left:0;top:2px;
			width:68px; height:74px;
			background-image:url('../../[res]/icons/정리.png');
		}
	
	[data-subject="생각 쑥쑥"]{
		padding-left:100px;
	}
		[data-subject="생각 쑥쑥"]>*:nth-child(1){
			font-size:0;
			display:inline-block;
			position:absolute;left:0;top:2px;
			width:80px; height:76px;
			background-image:url('../../[res]/icons/생각 쑥쑥.png');
		}
	
	
[data-subject] quizBtn{
	position:relative;top:5px;
	margin-left:15px;
}
		
/**=============
 * 	
 =============*/
[data-note]{
	position:relative;
	font-family:'Nanum';
	text-align:justify;
}

	[data-note="중점"]{
		padding-left:52px;
	}
		[data-note="중점"]>*:nth-child(1){
			display:inline-block;
			font-size:0;
			width:32px; height:32px;
			background-image:url('../../[res]/icons/중점.png');
			position:absolute; left:0px; top:20px;
		}

	[data-note="no"]{
		padding-left:61px;
	}
	[data-note="no"]>*:nth-child(1){
		display:inline-block;
		
		background-color:#b59f94;
		border-radius:100px;
	
		font-family:'Cafe';	
		font-size:38px;
		text-align:center;
		line-height:48px;
		color:#fff;
		
		width:46px; height:46px;
		position:absolute; left:0px; top:9px;
	}
	
	[data-note="x-파랑"]{
		padding-left:52px;
		font-size:62px;
		font-weight:900;
		line-height:130%;
	}
		[data-note="x-파랑"]>*:nth-child(1){
			display:inline-block;
			font-size:0;
			width:30px; height:30px;
			background-image:url('../../[res]/icons/x-파랑.png');
			position:absolute; left:0px; top:21px;
		}
	[data-note="x-분홍"]{
		padding-left:52px;
		font-size:62px;
		font-weight:900;
		line-height:130%;
	}
		[data-note="x-분홍"]>*:nth-child(1){
			display:inline-block;
			font-size:0;
			width:30px; height:30px;
			background-image:url('../../[res]/icons/x-분홍.png');
			position:absolute; left:0px; top:21px;
		}
		
	[data-note="x-파랑"]+[data-note="x-파랑"],
	[data-note="x-분홍"]+[data-note="x-분홍"]{
		margin-top:30px;
	}


/**=============
 * 	
 =============*/

[data-icon]{
	position:relative;
}
	[data-icon="펜"]{
		display:inline-block;
		width:56px;height:64px;
		position:relative;left:0px;top:0px;
		background-image:url('../../[res]/icons/연필.png');
		font-size:0;
	}


/**=============
 * 	
 =============*/
[data-box]{
	position:relative;
	border-radius:35px;
	padding:60px 75px;
	background-color:#e4f2fa;
}

[data-box="분홍"]{
	background-color:#fcf0ef;
	color:#3b78ff;
}
	[data-box="분홍"][data-type="캐릭터"]{
		padding-right:170px;
	}
	[data-box="분홍"][data-type="캐릭터"]:after{
		content:'';
		display:inline-block;
		position:absolute; right:-10px; bottom:24px;
		width:128px;height:222px;
		background-image:url('../../[res]/chars/캐릭터-1.png');
	}

[data-box="서술형"]{
	padding:40px 40px;
}
	[data-box="서술형"] assessmentItem{
		width:100%;height:100%;
	}
	

[data-box="활동 방법"]{
	background-color:#fff;
	border:3px solid #afadae;
	border-radius:30px;
	
	padding:60px 40px 40px 40px;
	
	font-size:44px;
	font-weight:bold;
	line-height:60px;
	letter-spacing:-1px;
}
	[data-box="활동 방법"]:after{
		content:'';
		display:inline-block;
		width:243px;height:81px;
		position:absolute;
		left:-30px; top:-42px;
		background-image:url('../../[res]/titles/활동 방법.png');
	}
	
	[data-box="활동 방법"]>*+*{
		margin-top:30px;
	}
	
		[data-box="활동 방법"] [data-note="no"]{
			padding-left:61px;
		}
		[data-box="활동 방법"] [data-note="no"]>*:nth-child(1){
			display:inline-block;
			
			background-color:#b59f94;
			border-radius:100px;
		
			font-family:'Cafe';	
			font-size:38px;
			text-align:center;
			line-height:48px;
			color:#fff;
			
			width:46px; height:46px;
			position:absolute; left:0px; top:8px;
		}


[data-box="평가"]{
	position:relative;
	border:5px solid #c1c1c1;
	border-radius:20px;
	background-color:#fff;
	padding:0px;
	
	top:100px;
	
	font-size:54px;
	font-weight:900;
	line-height:70px;
	color:#3b78ff;
}
	[data-box="평가"]>.head{
		position:absolute;left:10px;top:-105px;
		width:100%;
		display:table;
		clear:both;
	}
		[data-box="평가"]>.head>li{
			font-family:'One';
			font-size:50px;
			font-weight:normal;
			text-align:center;
			line-height:100px;
			height:100px;
			float:left;
			background-color:#b8e4fa;
			border-radius:20px 20px 0 0;
		}
		[data-box="평가"]>.head>li:nth-child(1){
			width:calc(80% - 20px);
		}
		[data-box="평가"]>.head>li:nth-child(2){
			width:calc(20% - 20px);
			margin-left:20px;
		}
		
	[data-box="평가"]>.body{}
		[data-box="평가"]>.body>ul{
			position:relative;
			display:table;
			clear:both;
			width:100%;
		}
		[data-box="평가"]>.body>ul+ul{
			border-top:1px solid #c1c1c1;
		}
		[data-box="평가"]>.body>ul>li{
			position:relative;
			float:left;
			min-height:110px;
		}
			[data-box="평가"]>.body>ul>li+li{}
			[data-box="평가"]>.body>ul>li:nth-child(1){
				width:80%;
				border-right:1px solid #c1c1c1;
			}
			[data-box="평가"]>.body>ul>li:nth-child(2){
				width:20%;height:100%;
				position:absolute; right:0; top:50%;
				transform: translateY(-50%);
			}
			
		[data-box="평가"] [data-skill="show"]{
			width:100%;height:100%;
			padding:20px 40px;
		}
		[data-box="평가"] [data-skill="show"] [data-btn="show"]{
			left:50%; top:50%;
			transform:translate(-50%,-50%);
		}
		[data-box="평가"] [data-skill="show"] [data-show]{
		}
	
	[data-box="평가"]>.body [data-skill="self"]{
		position:absolute; left:50%; top:50%;
		transform:translate(-50%,-50%);
	}
		[data-box="평가"]>.body [data-skill="self"] [data-self]{
			width:64px;height:64px;
			font-size:0;
			background-image:url('../../[res]/btns/btn-star.png');
		}
		[data-box="평가"]>.body [data-skill="self"] [data-self]+[data-self]{
			margin-left:20px;
		}
		

[data-box="생각 쑥쑥"]{
	position:relative;
	border-radius:0;
	background-color:transparent;
	background-image:url('../../[res]/bgs/생각 쑥쑥-c.png'); 
	background-size:100% 5px;
	background-repeat:repeat-y;
	
	font-size:54px;
	font-weight:900;
	line-height:70px;
	color:#3b78ff;
}
	[data-box="생각 쑥쑥"]:before{
		content:'';
		display:block;
		position:absolute;left:0px;top:-11px;
		width:100%;height:12px;
		background-image:url('../../[res]/bgs/생각 쑥쑥-t.png'); 
	}
	[data-box="생각 쑥쑥"]:after{
		content:'';
		display:block;
		position:absolute;left:0px;bottom:-41px;
		width:100%;height:42px;
		background-image:url('../../[res]/bgs/생각 쑥쑥-b.png'); 
	}
	
/**=============
 * 	
 =============*/
[data-skill="show"]{
	position:relative;
}
	[data-skill="show"] [data-btn="show"]{
		position:absolute;left:0px;top:0px;z-index:1;
		width:62px;height:68px;
		background-image:url('../../[res]/btns/btn-mouse.png');
	}
	[data-skill="show"] [data-show]{
		position:static;
		opacity:0;
		events-pointer:none;
	}
	[data-skill="show"].on [data-btn="show"]{
		display:none;
	}
	[data-skill="show"].on [data-show]{
		opacity:1;
		events-pointer:auto;
	}

	[data-skill="show"] [data-img]{
		display:inline-block;
		background-size:200% 100%;
	}
		[data-skill="show"][data-state="play"] [data-img]{
			background-position-x:100%;
		}
		

/**=============
 * 	
 =============*/
[data-skill="autoMovie"]{
	position:absolute;
}
	[data-skill="autoMovie"]>video{
		width:100%;height:100%;
	}


/**=============
 * 	
 =============*/
[data-skill="ox"] ox{
	cursor:pointer;
}
	[data-skill="ox"] oxItem{
		position:relative;
		display:none;
	}
	[data-skill="ox"] oxItem.on{
		display:block;
	}
	[data-skill="ox"] oxItem ox{
		cursor:pointer;
		display:inline-block;
	}
	[data-skill="ox"] oxItem oxFeedback{
		position:absolute;
		display:none;
	}
	[data-skill="ox"] oxItem.answer ox{
		cursor:default;
	}
	[data-skill="ox"] oxItem.answer oxFeedback{
		display:inline-block;
	}

	
/**=============
 * 	
 =============*/
main>[data-skill="tab"]{
	position:absolute; left:0px; top:0px;
	width:100%;
}
main>[data-skill="tab"] [data-tab]{
    padding: 70px 80px 0px 80px;
}
	[data-skill="tab"]>.tab-head>.tab-index {
	    margin-top: 16px;
	    margin-right: 80px;
	    font-size:30px;
	    font-family:'Cafe';
	    text-align:center;
	    color:#fff;
	}
	[data-skill="tab"]>.tab-head>.tab-index>[data-val]>*{
		display:inline-block;
	}
	[data-skill="tab"]>.tab-head>.tab-index>[data-val]{
		background-color:#cfcfcf;
		border-radius:100px;
		width:48px;height:48px;
		line-height:50px;
	}
	[data-skill="tab"]>.tab-head>.tab-index>[data-val].on{
		background-color:#4dd0e1;
	}
	
	[data-skill="tab"]>.tab-head>.tab-index>[data-val]+[data-val]{
		margin-left:16px;
	}

/**=======================================
 *=======================================
 * 	quiz
 *=======================================
 =======================================*/
	quizBtn[data-skill="answer"]{
		width:62px;height:68px;
		font-size:0;
		background-image:url('../../[res]/btns/btn-mouse.png');
	}
		quizitem[data-state] quizBtn[data-skill="answer"],
		quizBtn[data-skill="answer"].on{
			display:none;
		}
		
	quizBtn[data-skill="reset"]{
		width:62px;height:68px;
		font-size:0;
		background-image:url('../../[res]/btns/btn-reset.png');
	}
		quizitem quizBtn[data-skill="reset"]{
			display:inline-block;
		}
		
	quizBtn[data-skill="answerReset"]{
		width:62px;height:68px;
		font-size:0;
		background-image:url('../../[res]/btns/btn-mouse.png');
	}
		quizitem[data-state] quizBtn[data-skill="answerReset"],
		quizBtn[data-skill="answerReset"].on{
			background-image:url('../../[res]/btns/btn-reset.png');
		}
		
	quizBtn[data-skill="ex"]{
		width:200px;height:68px;
		font-size:0;
		background-image:url('../../[res]/btns/btn-ex.png');
	}
		quizitem[data-state] quizBtn[data-skill="ex"],
		quizBtn[data-skill="ex"].on{
			display:none;
		}
	quizBtn[data-skill="exReset"]{
		width:200px;height:68px;
		font-size:0;
		background-image:url('../../[res]/btns/btn-ex.png');
	}
		quizitem[data-state] quizBtn[data-skill="exReset"],
		quizBtn[data-skill="exReset"].on{
			background-image:url('../../[res]/btns/btn-ex-reset.png');
		}
/**=============
 * 	show
 =============*/
[data-response-type="word"]{
	border:3px solid #cfcfcf;
	border-radius:15px;
	background-color:#fff;
	padding:0px 20px;
	line-height:76px;
	cursor:pointer;
	display:inline-block;
	position:relative; top:4px;
}
	[data-response-type="word"]:after{
		content:'';
		display:inline-block;
		position:absolute;left:50%;top:50%;
		transform:translate(-50%,-50%);
		width:62px;height:68px;
		background-image:url('../../[res]/btns/btn-mouse.png');
		background-size:200% 100%; 
	}
		[data-response-type="word"] itemBody:after:hover{
			background-position-x:100%;
		}
		
	[data-response-type="word"] itemBody{
		display:inline-block;
		opacity:0;
	}
	
	[data-response-type="word"][data-state]{
		cursor:default;
	}	
	[data-response-type="word"][data-state] itemBody{
		display:inline-block;
		opacity:1;
	}
		[data-response-type="word"][data-state]:after{
			display:none;
		}	


[data-response-type="word"][data-mode="초성"]:after{
	display:none;
}
[data-response-type="word"][data-mode="초성"] itemBody{
	opacity:1;
	color:#0081f4;
}
[data-response-type="word"][data-mode="초성"] assessFeedback{
	display:none;
}
[data-response-type="word"][data-mode="초성"][data-state] itemBody{
	display:none;
}
[data-response-type="word"][data-mode="초성"][data-state] assessFeedback{
	display:block;
	opacity:1;
}

/**=============
 * 	fillInTheBlink
 =============*/
[data-response-type="fillInTheBlink"] assessFeedback{
	display:none;
}
[data-state] [data-response-type="fillInTheBlink"] assessFeedback{
	display:block;
}
[data-state] [data-response-type="fillInTheBlink"] itemBody{
	display:none;
}

[data-response-type="fillInTheBlink"]{
	position:relative;
	padding-left:70px;
}
	[data-response-type="fillInTheBlink"]:before{
		content:'';
		display:inline-block;
		width:56px;height:64px;
		position:absolute;left:0px;top:0px;
		background-image:url('../../[res]/icons/연필.png');
	}
	[data-response-type="fillInTheBlink"] itemBody>input{
		position:relative;top:20px;
		font-size:40px;
		/*color:#828282;*/
		width:calc(100% + 20px);
		height:calc(100% - 40px);
	}
	[data-state] [data-response-type="fillInTheBlink"]:before{
		width:54px;height:54px;top:12px;
		background-image:url('../../[res]/icons/예.png');
	}
	
	[data-response-type="fillInTheBlink"] assessFeedback{
		font-family:'Nanum';
		font-size:62px;
		font-weight:900;
		line-height:82px;
		color:#3b78ff;
	}
	[data-response-type="fillInTheBlink"] assessFeedback p+p{
		margin-top:20px;
	}

/**=============
 * 	essay
 =============*/
[data-response-type="essay"] assessFeedback{
	display:none;
}
[data-state] [data-response-type="essay"] assessFeedback{
	display:block;
}
[data-response-type="essay"] assessFeedback.scroll{
	width:calc(100% + 40px);
	height:100%;
	overflow-x:hidden;overflow-y:auto;
	padding-right:20px;
}


[data-response-type="essay"]{
	position:relative;
	padding-left:70px;
}
	[data-response-type="essay"]:before{
		content:'';
		display:inline-block;
		width:56px;height:64px;
		position:absolute;left:0px;top:0px;
		background-image:url('../../[res]/icons/연필.png');
	}
	[data-response-type="essay"] itemBody>textarea{
		position:relative;top:20px;
		font-size:40px;
		/*color:#828282;*/
		width:calc(100% + 20px);
		height:calc(100% - 40px);
	}
	[data-state][data-response-type="essay"]:before{
		width:54px;height:54px;top:14px;
		background-image:url('../../[res]/icons/예.png');
	}
	
	[data-response-type="essay"] assessFeedback{
		font-family:'Nanum';
		font-size:62px;
		font-weight:900;
		line-height:82px;
		color:#3b78ff;
	}
	[data-response-type="essay"] assessFeedback p+p{
		margin-top:20px;
	}
	
/**=============
 * 	word
 =============*/
[data-response-type="word"] assessFeedback{
	display:block;opacity:0;
}
[data-state] [data-response-type="word"] assessFeedback{
	opacity:1;
}
[data-response-type="word"] assessFeedback.scroll{
	width:calc(100% + 40px);
	height:100%;
	overflow-x:hidden;overflow-y:auto;
	padding-right:20px;
}