@charset "utf-8";

/* ---------------------------
  Resets CSS
------------------------------*/
*{
	/*박스 크기 계산법 설정 [content-box(보더값 포함), border-box(내부크기만)]*/
	-khtml-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	
	margin:0px;
	padding:0px;
	border:none;
	
	vertical-align:top;
	/*transfrom 사용시 뒤 배경 상태 설정하기*/
	-webkit-backface-visibility:hidden;
	
	/*배경 설정*/
	background-repeat:no-repeat;
	background-size:100% 100%;
	
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
	color:inherit;
    line-height:inherit;
    text-align:inherit;
    text-rendering: auto;
    letter-spacing: inherit;
	
	-webkit-backface-visibility: hidden;
}
quizItem,assessmentItem,itemBody,feedbackItem,correctResponse,modalFeedback,answer{
	-khtml-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	
	background-repeat:no-repeat;
	background-size:100% 100%;
}
quizItem,assessmentItem,itemBody{
	display:block;
}
feedbackItem,correctResponse,modalFeedback{
	display:none;
}
answer{
	display:inline-block;
}
p assessmentItem,p itemBody{
	display:inline-block;
}
:before,:after{
	display:inline-block;
	/*박스 크기 계산법 설정 [content-box(보더값 포함), border-box(내부크기만)]*/
	-khtml-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	background-size:100% 100%;
}
/*추가된 테그*/
article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,section,summary,time,mark{ 
	display:block;
	background-repeat:no-repeat;
	background-size:100% 100%;
}
/*속성 정의*/
div,p,span,ul,ol,li,table{background-repeat:no-repeat;background-size:100% 100%;}
ul,ol,li{list-style:none;}
table{border-spacing:0;border-collapse:collapse;}
/*이미지 초기화*/
video,img{
	/*마우스 선택 안되게*/
	-ms-user-select:none;-moz-user-select:-moz-none;-khtml-user-select:none;-webkit-user-select:none;user-select:none;
	/*마우스 드레그 안되게*/
	-ms-user-drag:none;-moz-user-drag:-moz-none;-khtml-user-drag:none;-webkit-user-drag:none;user-drag:none;
}
img{
	vertical-align:top;
	image-rendering:-moz-crisp-edges;
	image-rendering:-o-crisp-edges;
	image-rendering:-webkit-optimize-contrast;
	image-rendering:crisp-edges;
}
button{
	display:inline-block;
	position:relative;
	overflow:visible;
	background:inherit;
	box-shadow:none;border-radius:0;
	background-size:200% 100%; 
	cursor:pointer;
	/*브라우저별 기본 스타일링 제거 */
	-ms-appearance:none;-moz-appearance:none;-khtml-ppearance:none;-webkit-appearance:none;appearance:none;
}
	button:hover{background-position-x:100%;}
	button.on{background-position-x:100%;}
	button.disabled:hover{background-position-x:0%; cursor:default;}
/*입력 창 스타일 제거*/
button,input,textarea,select,video,img,a{
	/*스타일 제거*/
	outline:none;outline-style:none;background-color:transparent;
	/*브라우저별 기본 스타일링 제거 */
	-ms-appearance:none;-moz-appearance:none;-khtml-ppearance:none;-webkit-appearance:none;appearance:none;
}
input,textarea{
	text-indent:0px;vertical-align:baseline;
	-ms-user-select:auto;-moz-user-select:-moz-auto;-khtml-user-select:auto;-webkit-user-select:auto;user-select:auto;
}
button:focus,input:focus,textarea:focus,select:focus,video:focus,div:focus,img:focus,a:focus{
	outline:none;
}
textarea{
	resize:none; overflow-x:hidden; overflow-y:auto;
}
/*입력 지우기 버튼 생성 막기*/
input::-moz-clear{display:none;}
input::-webkit-clear{display:none;}
input::-ms-clear{display:none;}
input:-ms-clear{display:none;}
input::clear{display:none;}

/*placeholder 스타일 지정*/
::-moz-input-placeholder{color:#bbb!important; font-style: normal;}
::-webkit-input-placeholder{color:#bbb!important; font-style: normal;}
/* Microsoft Edge */
::-ms-input-placeholder{color:#bbb!important; font-style: normal;}
/* Internet Explorer 10-11 */
:-ms-input-placeholder{color:#bbb!important; font-style: normal;}
/*파이어폭스에서 css*/
::placeholder{color:#bbb!important; opacity:1; font-style: normal;}

/*기타 스타일 제거*/
a,ins,del{cursor:pointer; text-decoration:none;}
caption,th{text-align:left;}
q:after,q:before {content:"";}
li:before,li:after{content:none;}
a{display:inline-block;}

/* ---------------------------
  html, body 전체 채우고 마우스 선택 안되게
------------------------------*/
html{
	overflow:hidden;
	width:100%;height:100%;
	font-size:10px;
}
body{
	overflow:hidden;
	width:100%;height:100%;
	/*텍스트 자동 스케일 안되게*/
	-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;-o-text-size-adjust:none;
	/* 마우스 선택 안되게*/
	-ms-user-select:none;-moz-user-select:-moz-none;-khtml-user-select:none;-webkit-user-select: none; user-select: none;
	/*터치 조작 이벤트 박기*/
	touch-action:none;
	-webkit-touch-callout: none;
}

/* ---------------------------
  기타 스타일 제거
------------------------------*/
body>.LOG{
	position:absolute; z-index:100;
	left:0px; top:0px;
	width:300px;
	background-color:rgba(0,0,0,0.5);
}
	body>.LOG>.head{
		width:100%; height:20px;
		background-color:#ffc;
	}
	body>.LOG>textarea{
		width:100%; height:280px;
		color:#f00;
	}
/*테스트 확인시*/
.test,[test]{background-color: rgba(0,0,0,0.1) !important;}

/*---------
 화면 정보
 ----------*/
#container{
	position:absolute; left:0px; top:0px;
	width:1920px; height:1080px;
}
	#container>iframe{
		width:2320px; height:1080px;
		margin-left:-200px;
	}

/*
body[data-mode="home"]{
	background-color:#fff8b2;
}
*/

/*---------------------
스크롤
-----------------------*/
/*
::-ms-scrollbar{width:5px; height:5px; background-color:#F5F5F5; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;} 
::-ms-scrollbar-thumb{background-color:#000000; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; }
::-ms-scrollbar-track{background-color:#F5F5F5; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
::-moz-scrollbar{width:5px; height:5px; background-color:#F5F5F5; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;} 
::-moz-scrollbar-thumb{background-color:#000000; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; }
::-moz-scrollbar-track{background-color:#F5F5F5; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
::-khtml-scrollbar{width:5px; height:5px; background-color:#F5F5F5; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;} 
::-khtml-scrollbar-thumb{background-color:#000000; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; }
::-khtml-scrollbar-track{background-color:#F5F5F5; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
::-webkit-scrollbar{width:5px; height:5px; background-color:#F5F5F5; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;} 
::-webkit-scrollbar-thumb{background-color:#000000; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; }
::-webkit-scrollbar-track{background-color:#F5F5F5; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
::scrollbar{width:5px; height:5px; background-color:#F5F5F5; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;} 
::scrollbar-thumb{background-color:#000000; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; }
::scrollbar-track{background-color:#F5F5F5; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);}
*/