/**===============
 * 	공통 기능
 =================*/
quizItem{
	position:relative;
}
quizItem[data-state] modalFeedback{
	position:relative;
	display:block;
}
quizItem[data-state] feedbackItem{
	position:relative;
	display:block;
}

/**===============
 * 	?
 =================*/
[data-response-type="?"]{
	cursor:default;
	position:relative;
	display:inline-block;
	padding:0px 0px;
}
	[data-response-type="?"]>itemBody{
		position:absolute;
		display:inline-block;
		z-index:10;
		left:0px; top:0px;
		width:100%; height:100%;
		background-color:#ffd495;
		
		border:6px solid #ffd495;
		border-radius:20px;
	}
		[data-response-type="?"]>itemBody:after{
			content:'?';
			position:relative;
			left:6px;
			display:inline-block;
			font-size:1.4em;
			display:table;
			top:10%;
			color:transparent;
			margin:0px auto;
			background-image:url('quiz/icons/icon-question.png');
			background-size:80%;
			background-repeat: no-repeat;
		}
		
	[data-response-type="?"][data-state]{
		cursor:default;
	}
		[data-response-type="?"][data-state]>itemBody{
			display:none;
		}
		[data-response-type="?"][data-state="ex"]{
			color:#0055ff;
		}
		[data-response-type="?"][data-state="answer"]{
			color:#db0101;
		}

	[data-response-type="?"] correctResponse{
		display:inline-block !important;
	}
	/*=================*/
	[data-response-type="?"][data-state="ex"] correctResponse{
		color:#06f;
	}
	[data-response-type="?"][data-state="answer"] correctResponse{
		color:#db0101;
	}

/**===============
 *  word
 =================*/
[data-response-type="word"]{
	cursor:default;
	position:relative;
	display:inline-block;
	
	background-color:#fff7cc;
		
	border:2px solid #f7e794;
	border-radius:15px;
	text-align:center;
	margin-top:-6px;
	margin-bottom:-6px;
}
	[data-response-type="word"]>itemBody{
		display:none;
	}
	[data-response-type="word"][data-state]{
		cursor:default;
	}
		[data-response-type="word"][data-state]>itemBody{
			display:block;width:100%;height:100%;
			font-size:inherit;
			font-weight:inherit;
			line-height:inherit;
		}
		[data-response-type="word"][data-state="ex"]{
			color:#0081f4;
		}
		[data-response-type="word"][data-state="answer"]{
			color:#0081f4;
		}

	[data-response-type="word"][data-state] correctResponse{
		display:inline-block !important;
	}
	/*=================*/
	[data-response-type="word"][data-state="ex"] correctResponse{
		color:#0081f4;
	}
	[data-response-type="word"][data-state="answer"] correctResponse{
		color:#0081f4;
	}
  	
  	[data-response-type="word"] assessBtn{
  		position:absolute;left:50%;top:50%;
  		transform:translate(-50%,-50%);
  	}
  	[data-response-type="word"][data-state] assessBtn{
  		display:none;
  	}
  	
[data-response-type="word"][data-no]{
	text-indent:30px;
}
[data-response-type="word"][data-no]:after{
	position:absolute;left:2px;top:23px;
	display:block;line-height:0;
	font-size:40px;
	font-weight:bold;
	text-indent:0px;
	color:#000 !important;
}
 	[data-response-type="word"][data-no="1"]:after{content:'①';}
 	[data-response-type="word"][data-no="2"]:after{content:'②';}
 	[data-response-type="word"][data-no="3"]:after{content:'③';}
 	[data-response-type="word"][data-no="4"]:after{content:'④';}
 	[data-response-type="word"][data-no="5"]:after{content:'⑤';}
 	[data-response-type="word"][data-no="6"]:after{content:'⑥';}
 	[data-response-type="word"][data-no="7"]:after{content:'⑦';}
 	[data-response-type="word"][data-no="8"]:after{content:'⑧';}
 	[data-response-type="word"][data-no="9"]:after{content:'⑨';}
 	
/**===============
 * 	ox 기능
 =================*/
[data-response-type="True/False"]{}
	[data-response-type="True/False"] [data-ox]{
		cursor:pointer;
		display:inline-block;
		width:200px; height:200px;
		background-size:200% 100%;
		margin:20px 30px;
		font-size:0px;
	}
		[data-response-type="True/False"] [data-ox].on{
			background-position-x:100%;
		}
		[data-response-type="True/False"] [data-ox="o"]{
			background-image:url('quiz/btn-o.png');
		}
		[data-response-type="True/False"] [data-ox="x"]{
			background-image:url('quiz/btn-x.png');
		}
	/*=================*/
	[data-response-type="True/False"][data-state] [data-ox]{
		cursor:default;
	}

/**===============
 * 	입력 기능
 =================*/
[data-response-type="fillInTheBlank"]{
	position:relative;
	vertical-align:middle;
}
	[data-response-type="fillInTheBlank"] itemBody{
		display:inline-block;
		width:100%;
	}
		[data-response-type="fillInTheBlank"] itemBody>input{
			width:100%;
			text-align:left;
		}
	[data-response-type="fillInTheBlank"] correctResponse{
		width:100%;
		display:none;
		text-align:left;
	}
	/*=================*/
	/*itemBody*/
	[data-response-type="fillInTheBlank"][data-state="ex"] itemBody,
	[data-response-type="fillInTheBlank"][data-state="answer"] itemBody{
		display:none;
	}
	/*modalFeedback*/
	[data-response-type="fillInTheBlank"][data-state="ex"] modalFeedback,
	[data-response-type="fillInTheBlank"][data-state="answer"] modalFeedback{
		display:block;
	}
	/*correctResponse*/
	[data-response-type="fillInTheBlank"][data-state="ex"] correctResponse{
		display:inline-block;
		color:#0055ff;
	}
	[data-response-type="fillInTheBlank"][data-state="answer"] correctResponse{
		display:inline-block;
		color:#db0101;
	}

/*=================*/
		
/*텍스트 단답형 디자인*/
[data-response-type="fillInTheBlank"][data-style="word"]{
	background-color:#fff;
	border:8px solid #f4db9a;
	border-radius:20px;
	margin-top:-8px;
	padding:0px 0px;
	top:0px;
}
	[data-response-type="fillInTheBlank"][data-style="word"] itemBody>input{
		text-align:center;
	}
		/*입력 지우기 버튼 생성 막기*/
		[data-response-type="fillInTheBlank"][data-style="word"] itemBody>inputinput::-moz-clear{display:none;}
		[data-response-type="fillInTheBlank"][data-style="word"] itemBody>inputinput::-webkit-clear{display:none;}
		[data-response-type="fillInTheBlank"][data-style="word"] itemBody>inputinput::-ms-clear{display:none;}
		[data-response-type="fillInTheBlank"][data-style="word"] itemBody>inputinput:-ms-clear{display:none;}
		[data-response-type="fillInTheBlank"][data-style="word"] itemBody>inputinput::clear{display:none;}
		
		/*placeholder 스타일 지정*/
		[data-response-type="fillInTheBlank"][data-style="word"] itemBody>input::-moz-input-placeholder{
			color:#c0d8ea!important; font-style: normal;
		}
		[data-response-type="fillInTheBlank"][data-style="word"] itemBody>input::-webkit-input-placeholder{
			color:#c0d8ea!important; font-style: normal;
		}
		/* Microsoft Edge */
		[data-response-type="fillInTheBlank"][data-style="word"] itemBody>input::-ms-input-placeholder{
			color:#c0d8ea!important; font-style: normal;
		}
		/* Internet Explorer 10-11 */
		[data-response-type="fillInTheBlank"][data-style="word"] itemBody>input:-ms-input-placeholder{
			color:#c0d8ea!important; font-style: normal;
		}
		/*파이어폭스에서 css*/
		[data-response-type="fillInTheBlank"][data-style="word"] itemBody>input::placeholder{
			color:#c0d8ea!important; opacity:1; font-style: normal;
		}
	
	[data-response-type="fillInTheBlank"][data-style="word"] correctResponse{
		text-align:center;
	}
		
/*=================*/

/*서술형 디자인*/
[data-response-type="essay"]{}
	[data-response-type="essay"] itemBody{
		display:block;
		width:100%; height:100%;
	}
		[data-response-type="essay"] itemBody>textarea,
		[data-response-type="essay"] itemBody>input{
			width:100%; height:100%;
			text-align:justify;
		}
	[data-response-type="essay"] correctResponse{
		display:none;
		text-align:justify;
	}
	/*=================*/
	/*itemBody*/
	[data-response-type="essay"][data-state="ex"] itemBody,
	[data-response-type="essay"][data-state="answer"] itemBody{
		display:none;
	}
	/*modalFeedback*/
	[data-response-type="essay"][data-state="ex"] modalFeedback,
	[data-response-type="essay"][data-state="answer"] modalFeedback{
		display:block;
	}
	/*correctResponse*/
	[data-response-type="essay"][data-state="ex"] correctResponse{
		display:block;
		color:#0055ff;
	}
	[data-response-type="essay"][data-state="answer"] correctResponse{
		display:block;
		color:#db0101;
	}
	
/**===============
 * 	선택 기능
 =================*/
[data-response-type="singleChoice"],
[data-response-type="multipleChoice"]{}
	[data-response-type="singleChoice"] [data-choice],
	[data-response-type="multipleChoice"] [data-choice]{
		cursor:pointer;
		position:relative;
	}
	/*ex*/
	[data-response-type="singleChoice"][data-state="ex"] [data-choice],
	[data-response-type="multipleChoice"][data-state="ex"] [data-choice]{
		cursor:default;
	}
	[data-response-type="singleChoice"][data-state="ex"] modalFeedback,
	[data-response-type="multipleChoice"][data-state="ex"] modalFeedback{
		display:block;
	}
	/*answer*/
	[data-response-type="singleChoice"][data-state="answer"] [data-choice],
	[data-response-type="multipleChoice"][data-state="answer"] [data-choice]{
		cursor:default;
	}
	[data-response-type="singleChoice"][data-state="answer"] modalFeedback,
	[data-response-type="multipleChoice"][data-state="answer"] modalFeedback{
		display:block;
	}
	
/*선택 보이기*/
[data-response-type="singleChoice"][data-mode="show"] [data-choice]>*,
[data-response-type="multipleChoice"][data-mode="show"] [data-choice]>*{
	display:none;
}
[data-response-type="multipleChoice"][data-mode="show"] [data-choice].on>*,
[data-response-type="multipleChoice"][data-mode="show"] [data-choice].on>*{
	display:block;
}
/*선택 숨기기*/
[data-response-type="singleChoice"][data-mode="hide"] [data-choice]>*,
[data-response-type="multipleChoice"][data-mode="hide"] [data-choice]>*{
	display:block;
}
[data-response-type="multipleChoice"][data-mode="hide"] [data-choice].on>*,
[data-response-type="multipleChoice"][data-mode="hide"] [data-choice].on>*{
	display:none;
}

/*CHECK*/
[data-response-type="singleChoice"][data-mode="circle"] [data-choice]:after,
[data-response-type="multipleChoice"][data-mode="circle"] [data-choice]:after{
	display:none;
	content:'';
	
	position:absolute;
	left:-25px; top:-12px;
	
	width:100%; height:100%;
	
	border:10px solid #f00;
	border-radius:300px;
	padding:0px 15px;
		
	-khtml-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    
    opacity:0.5;
}
	[data-response-type="singleChoice"][data-mode="circle"] [data-choice].on:after,
	[data-response-type="multipleChoice"][data-mode="circle"] [data-choice].on:after{
		display:inline-block;
	}
	[data-response-type="singleChoice"][data-mode="circle"][data-state] [data-choice].on:after,
	[data-response-type="multipleChoice"][data-mode="circle"][data-state] [data-choice].on:after{
		display:none;
	}
	[data-response-type="singleChoice"][data-mode="circle"] [data-choice].correct:after,
	[data-response-type="multipleChoice"][data-mode="circle"] [data-choice].correct:after{
		display:inline-block !important;
		border:10px solid #f00;
	}
	
/*CHECK*/
[data-response-type="singleChoice"][data-mode="check"] [data-choice]:before,
[data-response-type="multipleChoice"][data-mode="check"] [data-choice]:before{
	content:'';
	width:50px; height:50px;
	margin-right:10px;
	
	position:relative;
	top:6px;
	
	background-image: url('quiz/btn-check.png');
	background-size:200% 100%;
}
	[data-response-type="singleChoice"][data-mode="check"] [data-choice].on:before,
	[data-response-type="multipleChoice"][data-mode="check"] [data-choice].on:before{
		background-position-x:100%;
	}

[data-response-type="singleChoice"][data-mode="check"] [data-choice].correct:after,
[data-response-type="multipleChoice"][data-mode="check"] [data-choice].correct:after{
	display:inline-block;
	content:'';
	
	position:absolute;
	left:-30px; top:-11px;
	
	width:90px; height:90px;
	
	border:10px solid #f00;
	border-radius:300px;
		
	-khtml-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    
    opacity:0.5;
}
[data-feedback="result"] [data-response-type="singleChoice"][data-mode="check"] [data-choice].correct:after,
[data-feedback="result"] [data-response-type="multipleChoice"][data-mode="check"] [data-choice].correct:after{
	display:none;
}

/*CHECK-BOX*/
[data-response-type="singleChoice"][data-mode="checkbox"] [data-choice],
[data-response-type="multipleChoice"][data-mode="checkbox"] [data-choice]{
	content:'';
	width:50px; height:50px;
	margin-right:10px;
	
	position:relative;
	top:6px;
	
	background-image: url('quiz/btn-checkbox.png');
	background-size:200% 100%;
}
	[data-response-type="singleChoice"][data-mode="checkbox"] [data-choice].on,
	[data-response-type="multipleChoice"][data-mode="checkbox"] [data-choice].on{
		background-position-x:100%;
	}

[data-response-type="singleChoice"][data-mode="checkbox"] [data-choice].correct:after,
[data-response-type="multipleChoice"][data-mode="checkbox"] [data-choice].correct:after{
	display:inline-block;
	content:'';
	
	position:absolute;
	left:-30px; top:-11px;
	
	width:90px; height:90px;
	
	border:10px solid #f00;
	border-radius:300px;
		
	-khtml-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    
    opacity:0.5;
}

/**===============
 * 	선긋기
 =================*/

[data-response-type="drawLine"]{
	position:relative;
}
	[data-response-type="drawLine"]>svg{
		position:absolute; left:0px; top:0px;
		width:100%; height:100%;
	}
	[data-response-type="drawLine"]>itemBody [data-drawLine]{
		position:relative;
		cursor:pointer;
		display:inline-block;
		width:100px; height:100px;
	}
	[data-response-type="drawLine"]>itemBody [data-drawLine]:after{
		content:'';
		display:inline-block;
		width:30px; height:30px;
		background-color:#000;
		position:absolute;
		left:35px; top:35px;
		border-radius:20px;
	}
	/*오버 시*/
	[data-response-type="drawLine"]>itemBody [data-drawLine]:hover:after{
		background-color:#05f;
	}
	/*선택 시*/
	[data-response-type="drawLine"]>itemBody [data-drawLine].on:after{
		background-color:#05f;
	}
	/*선택 시*/
	[data-response-type="drawLine"]>itemBody [data-drawLine].hit:after{
		background-color:#fc0;
	}

[data-response-type="drawLine"]>itemBody .left{
	position:absolute; left:0px; top:0px;
	display:table; width:100px;
}
[data-response-type="drawLine"]>itemBody .right{
	position:absolute; right:0px; top:0px;
	display:table; width:100px;
}
[data-response-type="drawLine"]>itemBody .top{
	position:absolute; left:0px; top:0px;
	display:table;
}
[data-response-type="drawLine"]>itemBody .bottom{
	position:absolute; left:0px; bottom:0px;
	display:table;
}
[data-response-type="drawLine"][data-state]>itemBody [data-drawLine]{
	cursor:default;
}

/**===============
 * 	드레그
 =================*/
[data-etc="drag"]{
	position:relative;
}
	[data-drag]{
		position:absolute;
	}
		[data-drag]>img{
			width:100%;
		}
	[data-drag][data-style="box-hit"]{
		border:5px dashed #658c94;
		border-radius:15px;
		background-color:#fff;
	}
	[data-drag][data-style="box-hit"].hit{
		border:none;
		background-color:transparent;
	}
	[data-drag="p"]{
		cursor:pointer;
	}
	[data-drag="p"].drag-down{
		z-index:999;
	}
	
	[data-drag="p"] .gif{
		display:none;
	}
		[data-drag="p"].correct .gif{
			display:inline-block;
		}
	[data-drag="p"] .showBox{
		display:none;
	}
		[data-drag="p"].correct .showBox{
			display:inline-block;
		}
	

[data-drag-target]{
	position:relative;
	 
}
	[data-drag="t"] .gif{
		display:none;
	}
		[data-drag="t"].hit .gif{
			display:inline-block;
		}
	[data-drag="t"] .showBox{
		display:none;
	}
		[data-drag="t"].hit .showBox{
			display:inline-block;
		}
	


