/* -------
 * 오디오 영역 
----------*/
/* -------
 * 아이콘 영역 
----------*/
.AUDIO{
	position:absolute;
	width:300px; height:50px;
}
.AUDIO audio{
	display:none;
}
/**
 * 	컨트롤러 영역
 */
.AUDIO .a-controls{
	position:relative; 
	width:300px; height:50px;
	background-color:#aaa;
	border-radius:10px;
}

	.AUDIO .a-controls>.a-btn-play{
		cursor:pointer;
		display:inline-block;
		width:30px; height:30px;
		background-image:url("video/btn-play.png");
		
		position:absolute; left:15px; top:10px;
	}
	.AUDIO .a-controls>.a-btn-pause{
		cursor:pointer;
		display:inline-block;
		width:30px; height:30px;
		background-image:url("video/btn-pause.png");
		
		position:absolute; left:15px; top:10px;
	}
	.AUDIO .a-controls>.a-btn-stop{
		cursor:pointer;
		display:inline-block;
		width:30px; height:30px;
		background-image:url("video/btn-stop.png");
		
		position:absolute; left:45px; top:10px;
	}
	
	.AUDIO .a-controls>.a-btn-volume{
		cursor:pointer; z-index:3;
		display:inline-block;
		width:30px; height:30px;
		background-image:url("video/btn-volume-1.png");
		
		position:absolute; left:75px; top:10px;
	}
		.AUDIO .a-controls>.a-btn-volume[data-state="mute"]{
			background-image:url("video/btn-volume-mute.png");
		}
		.AUDIO .a-controls>.a-btn-volume[data-state="3"]{
			background-image:url("video/btn-volume-3.png");
		}
		.AUDIO .a-controls>.a-btn-volume[data-state="2"]{
			background-image:url("video/btn-volume-2.png");
		}
		.AUDIO .a-controls>.a-btn-volume[data-state="1"]{
			background-image:url("video/btn-volume-1.png");
		}
		
	.AUDIO .a-controls>.a-volumebox{
		position:absolute; z-index:2;
		left:72px; top:-110px;
		
		display:none;
		width:35px; height:155px;
		border-radius:20px;
		background-color:rgba(0,0,0,0.4);
	}
		.AUDIO .a-controls>.a-volumebox>.a-volume{
			cursor:pointer;
			position:absolute;
			left:15px; top:20px;
			
			width:5px; height:100px;
			background-color:#f60;
			box-shadow:1px 1px 1px rgba(0,0,0,0.2);
		}
			.AUDIO .a-controls>.a-volumebox>.a-volume>.gauge{
				position:absolute; left:0px; top:0px;
				width:100%; height:0px;
				background-color:#fff;
			}
			.AUDIO .a-controls>.a-volumebox>.a-volume>.ball{
				position:absolute; left:-3px; top:0px;
				width:11px; height:11px;
				border-radius:100px;
				background-color:#f60;
			}
			.AUDIO .a-controls>.a-volumebox>.a-volume>.mask{
				position:absolute;
			}
			
	.AUDIO .a-controls>.a-progress{
		cursor:pointer;
		display:inline-block;
		width:100px; height:5px;
		
		position:absolute;
		left:120px; top:23px;
		background-color:#fff;
		cursor:pointer;
		
	}
		.AUDIO .a-controls>.a-progress>.gauge{
			position:absolute; left:0px; top:0px;
			width:0px; height:100%;
			background-color:#f60;
		}
		.AUDIO .a-controls>.a-progress>.ball{
			position:absolute; left:0px; top:-3px;
			width:11px; height:11px;
			border-radius:100px;
			background-color:#f60;
		}
		.AUDIO .a-controls>.a-progress>.mask{
			position:absolute;
		}
	.AUDIO .a-controls>.a-time{
		display:inline-block;
		position:absolute;
		right:10px; top:15px;
		
		width:60px; height:20px;
		line-height:20px;
		font-size:15px; 
		font-weight:normal;
		text-align:center;
		color:#fff;
		
		-webkit-font-smoothing: antialiased;
		
		text-shadow:2px 2px 2px rgba(0,0,0,0.2);
	}
	
	
/* -------
 * 비디오 영역 
----------*/
.VIDEO{
	position:absolute;
	width:1920px; height:1080px;
	overflow:hidden;
}
/*=====================*/
/*영상 화면 설정*/
.VIDEO .v-screen{
	width:100%; height:100%;
}
	.VIDEO .v-screen video{
		width:100%; height:100%;
		background-color:#000;
	}
/*=====================*/
/*섬네일*/
.VIDEO .v-poster{
	width:100%; height:100%;
	position:absolute;
	left:0px; top:0px;
	background-size: contain;
	background-position:center center;
}
/*=====================*/
/*자막은 비디오 초기와 정지 시에는 숨긴다*/
.VIDEO .track-text{
	display:none;
	position:absolute;
	left:0px; bottom:120px;
	width:100%; line-height:50px;
	font-size:40px; font-weight:bold;
	text-align:center;
}
	.VIDEO .track-text>p{
		display:inline-block;
		background-color:rgba(0,0,0,0.4);
		border-radius:15px;
		color:#fff;
		padding:10px 40px;
	}
.VIDEO.track[data-state="pause"] .track-text{
	display:none;
}
/*자막 보기 설정*/
.VIDEO.track .track-text{
	display:block;
}
	
.VIDEO .v-btn-close{
	cursor:pointer;
	width:48px; height:48px;
	position:absolute;
	right:15px; top:15px;
	background-image:url('media/btn-close.png');
	background-size:200% 100%;
}
.VIDEO .v-btn-close:hover{
	background-position-x:100%;
}
/*=====================
 컨트롤러 영역
=====================*/

/*컨트롤러 */
.VIDEO .v-controls{
	position:absolute; 
	width:1920px; height:70px;
	left:0px;
	background-color:rgba(0,0,0,0.4);
}
	.VIDEO[data-controls="in"] .v-controls{
		bottom:0px;
	}
		
	.VIDEO[data-controls="out"] .v-controls{
		bottom:-70px;
	}
	/*버튼 설정*/
	.VIDEO .v-controls>.v-btn-play{
		cursor:pointer;
		display:inline-block;
		width:59px; height:60px;
		background-image:url("media/btn-play.png");
		background-size:200% 100%;
		position:absolute; left:15px; top:5px;
	}
		.VIDEO .v-controls>.v-btn-play:hover{background-position-x:100%;}
	.VIDEO .v-controls>.v-btn-pause{
		cursor:pointer;
		display:inline-block;
		width:59px; height:60px;
		background-image:url("media/btn-pause.png");
		background-size:200% 100%;
		position:absolute; left:15px; top:5px;
	}
		.VIDEO .v-controls>.v-btn-pause:hover{background-position-x:100%;}
	.VIDEO .v-controls>.v-btn-stop{
		cursor:pointer;
		display:inline-block;
		width:59px; height:60px;
		background-image:url("media/btn-stop.png");
		background-size:200% 100%;
		position:absolute; left:75px; top:5px;
	}
		.VIDEO .v-controls>.v-btn-stop:hover{background-position-x:100%;}
	/*=====================*/
	/*볼륨 버튼 상태 설졍*/
	.VIDEO .v-controls>.v-btn-volume{
		cursor:pointer; z-index:3;
		display:inline-block;
		width:59px; height:60px;
		background-image:url("media/btn-volume-1.png");
		background-size:200% 100%;
		position:absolute; 
		left:135px; top:5px;
	}
		.VIDEO .v-controls>.v-btn-volume:hover{background-position-x:100%;}
		.VIDEO .v-controls>.v-btn-volume[data-state="mute"]{
			background-image:url("media/btn-volume-mute.png");
		}
		.VIDEO .v-controls>.v-btn-volume[data-state="3"]{
			background-image:url("media/btn-volume-3.png");
		}
		.VIDEO .v-controls>.v-btn-volume[data-state="2"]{
			background-image:url("media/btn-volume-2.png");
		}
		.VIDEO .v-controls>.v-btn-volume[data-state="1"]{
			background-image:url("media/btn-volume-1.png");
		}
	/*=====================*/
	/*볼륨 프로그래스바 설정*/	
	.VIDEO .v-controls>.v-volumebox{
		position:absolute; z-index:2;
		left:148px;
    	top:-122px;
		
		display:none;
		width:37px; height:160px;
		border-radius:20px;
		background-color:#a82b42;
	}
		.VIDEO .v-controls>.v-volumebox>.v-volume{
			cursor:pointer;
			position:absolute;
			left:15px; top:20px;
			
			width:8px; height:100px;
			background-color:#fff;
			border-radius:10px;
			box-shadow:1px 1px 1px rgba(0,0,0,0.2);
		}
			.VIDEO .v-controls>.v-volumebox>.v-volume>.gauge{
				position:absolute; left:0px; top:0px;
				width:100%; height:0px;
				border-radius:10px;
				background-color:#bbb;
			}
			.VIDEO .v-controls>.v-volumebox>.v-volume>.ball{
				position:absolute; left:-3px; top:0px;
				width:16px; height:16px;
				border-radius:100px;
				background-color:#f95b3c;
			}
			.VIDEO .v-controls>.v-volumebox>.v-volume>.mask{
				position:absolute;
			}
	
	.VIDEO .v-controls>.v-subject{
		display:inline-block;
		width:400px; height:60px;
		
		color:#fff;
		font-size:30px; font-weight:bold;
		line-height:60px;
		
		position:absolute; left:230px; top:30px;
	}
	/*=====================*/
	/*비디오 프로그래스 바*/
	.VIDEO .v-controls>.v-progress{
		cursor:pointer;
		display:inline-block;
		width:1300px; height:12px;
		
		position:absolute;
		left:260px; top:28px;
		background-color:#828282;
		cursor:pointer;
		border-radius:10px;
		box-shadow:1px 1px 1px rgba(0,0,0,0.2);
	}
		.VIDEO .v-controls>.v-progress>.gauge{
			position:absolute; left:0px; top:0px;
			width:0px; height:100%;
			background-color:#f1edf7;
			border-radius:10px;
		}
		.VIDEO .v-controls>.v-progress>.ball{
			position:absolute; left:0px; top:-5px;
			width:22px; height:22px;
			border-radius:100px;
			background-color:#ee684d;
		}
		.VIDEO .v-controls>.v-progress>.mask{
			position:absolute;
		}
	
	.VIDEO .v-controls>.v-time{
		display:inline-block;
		position:absolute;
		left:1580px; top:5px;
		
		width:160px; height:60px;
		line-height:62px;
		font-size:22px; 
		font-weight:normal;
		text-align:center;
		color:#fff;
		
		-webkit-font-smoothing: antialiased;
		
		text-shadow:2px 2px 2px rgba(0,0,0,0.2);
	}
	/*=====================*/
	/*자막 설정*/
	.VIDEO .v-controls>.v-btn-track{
		cursor:pointer;
		display:inline-block;
		width:59px; height:60px;
		background-image:url("media/btn-track.png");
		background-size:200% 100%;
		position:absolute; 
		right:80px; top:5px;
	}
		.VIDEO .v-controls>.v-btn-track:hover{background-position-x:100%;}
		.VIDEO.track .v-controls>.v-btn-track{
			background-image:url("media/btn-track-s.png");
		}
	.VIDEO .v-controls>.v-btn-full{
		cursor:pointer;
		display:inline-block;
		width:59px; height:60px;
		background-image:url("media/btn-full.png");
		background-size:200% 100%;
		position:absolute; 
		right:15px; top:5px;
	}
		.VIDEO .v-controls>.v-btn-full:hover{background-position-x:100%;}
		.VIDEO.fullscreen .v-controls>.v-btn-full{
			background-image:url("media/btn-normal.png");
		}